<div [formGroup]="form">
    <div class="page-header">
        <h1>Declaration</h1>
    </div>
    <p>The Victim Services and Crime Prevention Division will collect your personal information for the purpose of providing you with victim services in accordance with sections 26(a) and (c) of the Freedom of Information and Protection of Privacy Act (FoIPPA), the Crime Victim Assistance Act and the Victims of Crime Act. Your personal information will also be collected as per section 26(e) of FoIPPA in order to evaluate the program to better serve you. Should you have any questions about the collection, use, or disclosure of personal information, please contact the Victim Services and Crime Prevention Division at PO Box 5550, Stn Terminal, Vancouver, BC, V6B1H1 or by phone toll free at 1-800-660-3888.</p>
    <p>By signing this section you declare that the information you have provided on this application is true and correct. It is an offence to provide false or misleading information on this application and may lead to prosecution. If it is discovered at a later time that false or misleading information has been provided on this application form, you may be required to repay to CVAP any benefits received.</p>
    <section>
        <h2 class="blue-header">Declaration & Signature</h2>
        <app-field [required]="true" [valid]="isFieldValid('declaredAndSigned')" errorMessage="Please check this box to indicate that you accept Declaration">
            <label>
                <input type="checkbox" [value]="true" name="declaredAndSigned" formControlName="declaredAndSigned">
                I submit this application in support of a claim for benefits available to {{eligible_name}} under the <em>Crime Victim Assistance Act</em>, and declare the information provided in this application for benefits is true and correct. <span class="error-states">*</span>
            </label>
        </app-field>

        <app-field label="Applicant's Signature" [required]="true" [valid]="isFieldValid('signature')" errorMessage="Please provide your digital signature">
            <div class="signature-trigger" (click)="showSignPad('signature')" *ngIf="!hasSignature('signature')">
                <p>Click this box to sign</p>
            </div>
            <div *ngIf="hasSignature('signature')" class="signature-preview">
                <img src="{{ valueOrEmpty('signature') }}" />
                <a class="redo" (click)="showSignPad('signature')">Redo Signature</a>
            </div>
        </app-field>
    </section>
</div>