<div [formGroup]="form">
    <div class="page-header">
        <h1>Declaration</h1>
    </div>
    <p>Information supplied on this form is necessary to determine your eligibility for benefits, and is collected under the authority of Section 6 of the <em>Crime Victim Assistance Act</em>. Any information collected will be used only for the purposes of adjudicating your claim for benefits.</p>
    <p>By signing this section you declare that the information you have provided on this application is true and correct. It is an offence to provide false or misleading information on this application and may lead to prosecution. If it is discovered at a later time that false or misleading information has been provided on this application form, you may be required to repay to CVAP any benefits received.</p>
    <section>
        <h2 class="blue-header">Declaration & Signature</h2>
        <app-field [required]="true" [valid]="isFieldValid('declaredAndSigned')" errorMessage="Please check declaration">
            <label>
                <input type="checkbox" [value]="true" name="declaredAndSigned" formControlName="declaredAndSigned">
                I submit this application in support of a claim for benefits available to {{eligible_name}} under the <em>Crime Victim Assistance Act</em>, and declare the information provided in this application for benefits is true and correct. <span class="error-states">*</span>
            </label>
        </app-field>

        <app-field label="Applicant's Signature" [required]="true" [valid]="isFieldValid('signature')" errorMessage="Please provide your digital signature">
            <div class="signature-trigger" (click)="showSignPad('signature')" *ngIf="!hasSignature('signature')">
                <p>Click this box to sign</p>
            </div>
            <div *ngIf="hasSignature('signature')" class="signature-preview">
                <img src="{{ valueOrEmpty('signature') }}" />
                <a class="redo" (click)="showSignPad('signature')">Redo Signature</a>
            </div>
        </app-field>
        <p><em>Electronic Signature Agreement: By inserting my name, I confirm that my electronic signature represents the legal equivalent to my handwritten signature, in compliance with the <a href="#">Electronic Transaction Act of BC, 10(1)</a>.</em></p>
    </section>
</div>