h3 span {
  font-size: 14px;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h2,
h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

textarea.form-control {
  &.standard {
    width: 75%;
    height: 100px;
  }

  &.bigger {
    width: 75%;
    height: 200px;
  }
}

input.form-control {
  &.standard {
    width: 50%;
  }

  &.date-picker {
    width: 200px;
    background-color: #fff;
  }

  &.bigger {
    width: 75%;
  }
}

.hospital-date-container {
  width: 50%;
}
