h3 span {
  font-size: 14px;
  font-weight: 400;
}

.page-header h1 {
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 10px;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h2,
h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

::ng-deep h2.blue-header {
  margin-bottom: 25px;
}

::ng-deep label {
  font-weight: 400;
}

::ng-deep .application-gutter {
  position: relative;
  padding-right: 30px;
  padding-left: 30px;
}

::ng-deep .application-nav {
  .mat-step-label {
    white-space: initial;
  }

  .mat-step-text-label {
    text-overflow: initial;
    overflow: auto;
    color: #ccc;
  }

  .mat-step-header .mat-step-label.mat-step-label-active .mat-step-text-label {
    color: #21527e;
  }

  .mat-step-header .mat-step-label-active.mat-step-label-selected .mat-step-text-label {
    color: #21527e;
    font-weight: 700;
  }

  .mat-step-header .mat-step-label-active.mat-step-label-selected .mat-step-icon {
    background-color: #21527e;
  }

  .mat-vertical-content {
    padding: 0 24px 0 24px;
  }

  .mat-vertical-stepper-header {
    padding: 8px 0 !important;
  }

  .mat-vertical-content-container {
    margin-left: 12px;
  }

  .mat-vertical-stepper-header .mat-step-icon {
    border: 2px #4e719b solid;
    background-color: #fff;
  }

  .mat-stepper-vertical-line::before {
    top: -8px;
    bottom: -16px;
    left: -1px;
    border-left: 2px solid #ccc;
  }
}

.learn-benefits {
  margin-top: 50px;
}

.file-upload-placeholder {
  border: 1px dashed #9fb6d9;
  background-color: #f1f4fa;
  padding: 20px;
  text-align: center;
}

textarea.form-control {
  &.standard {
    width: 75%;
    height: 100px;
  }

  &.bigger {
    width: 75%;
    height: 200px;
  }
}

.inline-label {
  span {
    display: inline-block;
    padding-left: 5px;
    margin-right: 15px;
    font-weight: normal;
  }
}

.court-information {
  margin-bottom: 24px;

  .court-listing {
    .court-files {
      padding: 0 0 15px;
    }

    .court-files a {
      margin-left: 25px;
    }

    .court-files:last-child {
      padding-bottom: 0;
    }
  }
}

.other-treatments {
  margin-bottom: 10px;

  .other-treatment {
    background-color: #eee;
    padding: 15px;
  }

  &:nth-child(even) .other-treatment {
    background-color: #fff;
  }
}

.radio-list {
  label {
    font-weight: normal;
    margin-bottom: 5px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 5px;
  }

  .app-field {
    margin-bottom: 5px !important;
    background-color: #f90;
  }
}

.radio-list .app-field {
  margin-bottom: 5px;
}

::ng-deep .terms {
  input[type="text"] {
    margin-left: 15px;
  }

  ol {
    padding-left: 12px;

    li {
      padding-left: 1em;
    }
  }
}

.review-table {
  border-collapse: separate;
  border-spacing: 3px;

  tr {
    background-color: #f1f4fa;

    th,
    td {
      //background-color: #e1e8f2;
      border: 0 !important;
    }

    th {
      font-weight: normal;
      width: 30%;
    }

    td {
      font-weight: bold;
      width: 70%;
    }
  }

  &.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #e1e8f2;
  }
}

.line-item-table {
  border-collapse: separate;
  border-spacing: 3px;

  tr {
    background-color: #f1f4fa;

    th,
    td {
      border: 0 !important;
    }

    th {
      font-weight: normal;
    }

    td {
      font-weight: bold;
    }
  }

  &.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #e1e8f2;
  }
}

.label {
  font-size: 16px;
  font-weight: normal;
  color: #000;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: -8px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.step {
  border-bottom: 2px solid #fcba19;
}

.button-container {
  position: relative;
  margin: 30px 0 15px;
}

.submitted-header {
  background-color: rgba(56, 89, 138, 1);
  border: 1px solid transparent;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  color: #fff !important;
}

.submitted-header h2 {
  color: #fff !important;
}

.submitted-content {
  background-color: #eee;
  padding: 20px;
  margin-bottom: 20px;
}

.submit-container {
  background-color: #38598a;
  border-bottom: solid 4px #ffcc00;
  color: #fff;
  margin-bottom: 20px;
  padding: 30px;
  padding-top: 20px;

  h2 {
    color: #fff;
  }
}

::ng-deep .mat-calendar-body-selected {
  background-color: #337ab7;
  color: #000 !important;
}

::ng-deep .mat-calendar-body-cell-content {
  color: #54708b;
}

::ng-deep .mat-calendar-header {
  background-color: #337ab7;
  color: #fff;
}

::ng-deep .tooltip-icon {
}

.invoice-questions {
  background-color: #f1f1f2;
  color: #000;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 30px;
  padding-top: 20px;

  h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  p {
    margin: 20px 0;
    font-size: 16px;
  }
}

::ng-deep .settings-panel {
  background-color: #eee;
  padding: 15px;
  margin-bottom: 15px;

  .form-control {
    width: 120px;
  }

  select.form-control {
    width: 220px;
  }
}

::ng-deep .invoice-item {
  background-color: #f1f4fa;
  padding: 15px;
  padding-bottom: 0;
  margin-bottom: 5px;

  .col {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.item-listing:nth-of-type(odd) .invoice-item {
  background-color: #e1e8f2;
}

::ng-deep .settings-field {
  text-align: right;
}

::ng-deep .fixed-select {
  height: 34px !important;
}

.form-totals {
  .gst {
    margin-bottom: 15px;
    margin-top: 15px; 
    font-size: 18px;
  }

  .grand-total {
    label {
      display: block;
      font-size: 18px;
      margin-bottom: 0;
      font-weight: 600;
    }

    span.big-label {
      margin-right: 20px;
    }

    span.amount {
      display: inline-block;
      font-weight: 400;
      margin-bottom: 25px;
      margin-left: 4px;
    }
  }
}

.print-link {
  color: #0c5cb1 !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.print-link:hover {
  color: #0f3355 !important;
}

.white-icon {
  color: white;
}

.input-valid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2343893e' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center right calc(0.4em + 0.1875rem);
  background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.input-invalid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23d93e45' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23d93e45' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.4em + 0.1875rem);
  background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}

.error-states {
  color: #d8292f;
}

.error-container {
  margin-top: 5px;
}

.welcome-text {
  font-size: 20px;
}

.header-alert {
  color: #CE3E39	
}

.link-span {
  color: #0c5cb1;
  text-decoration: underline;
  cursor: pointer;
}