
vsd-app/vsd-app\.sln\.DotSettings
/.vs
.env
/Database/obj
/Database/bin
/Shared.Contract/bin
/Shared.Contract/obj
/Shared.Database/bin
/Shared.Database/obj
/Manager.Contract/bin
/Manager.Contract/obj
/Resources/bin
/Resources/obj
/Tests/bin
/Tests/obj
/Manager/bin
/Manager/obj
/Utilities/bin
/Utilities/obj
.playwright-mcp