<div [formGroup]="form">
    <div class="page-header">
        <h1>Victim Information</h1>
    </div>
    <h2 class="blue-header">Victim Information</h2>

    <h3>Victim Name</h3>

    <div class="row">
        <div class="col-4">
            <app-field label="First Name" [required]="true" [valid]="isFieldValid('firstName')" errorMessage="Please enter your first name">
                <input class="form-control" type="text" formControlName="firstName" maxlength="100">
            </app-field>
        </div>
        <div class="col-4">
            <app-field label="Middle Name" [required]="false" [valid]="isFieldValid('middleName')" errorMessage="Please enter your middle name">
                <input class="form-control" type="text" formControlName="middleName" maxlength="100" onformchange="">
            </app-field>
        </div>
        <div class="col-4">
            <app-field label="Last Name" [required]="true" [valid]="isFieldValid('lastName')" errorMessage="Please enter your last name">
                <input class="form-control" type="text" formControlName="lastName" maxlength="100">
            </app-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label class="inline-label">
                <input type="checkbox" style="margin-right: 10px;" formControlName="iHaveOtherNames" [value]="true">
                <span>They also go by other names (e.g. nickname, maiden name, alias)</span>
            </label>
        </div>
    </div>

    <div *ngIf="form.get('iHaveOtherNames').value === true">
        <h3>Other Names Used</h3>

        <div class="row">
            <div class="col-md-4">
                <app-field label="Other First Name" [required]="true" [valid]="isMyControlValid(form.get('otherFirstName'))" errorMessage="Please enter your other first name">
                    <input class="form-control" type="text" formControlName="otherFirstName" maxlength="100">
                </app-field>
            </div>
            <div class="col-md-4">
                <app-field label="Other Last Name" [required]="true" [valid]="isMyControlValid(form.get('otherLastName'))" errorMessage="Please enter your other last name">
                    <input class="form-control" type="text" formControlName="otherLastName" maxlength="100">
                </app-field>
            </div>
            <div class="col-md-4">
                <app-field label="Date of Name Change" [required]="true" [valid]="isMyControlValid(form.get('dateOfNameChange'))" errorMessage="Please enter the date of name change">
                    <input type="text" class="form-control date-picker" formControlName="dateOfNameChange" placeholder="yyyy-mm-dd" [matDatepicker]="dateOfNameChangePicker" [max]="todaysDate" [min]="oldestHuman" (focus)="dateOfNameChangePicker.open()" (click)="dateOfNameChangePicker.open()" readonly>
                    <mat-datepicker #dateOfNameChangePicker></mat-datepicker>
                </app-field>
            </div>
        </div>
    </div>

    <h3>Other Details</h3>

    <app-field label="Gender" [required]="true" [valid]="isFieldValid('gender')" errorMessage="Please select your gender">
        <label class="inline-label">
            <input type="radio" [value]="100000000" name="gender" formControlName="gender">
            <span>M</span>
        </label>
        <label class="inline-label">
            <input type="radio" [value]="100000001" name="gender" formControlName="gender">
            <span>F</span>
        </label>
        <label class="inline-label">
            <input type="radio" [value]="100000002" name="gender" formControlName="gender">
            <span>X</span>
        </label>
    </app-field>

    <div class="row">
        <div class="col-md-6">
            <app-field label="Birthdate" [required]="true" [valid]="isFieldValid('birthDate')" errorMessage="Please enter your birth date">
                <input type="text" class="form-control date-picker" formControlName="birthDate" placeholder="yyyy-mm-dd" [matDatepicker]="birthDatePicker" [min]="oldestHuman" [max]="todaysDate" (focus)="birthDatePicker.open()" (click)="birthDatePicker.open()" readonly>
                <mat-datepicker #birthDatePicker></mat-datepicker>
            </app-field>
        </div>
        <div class="col-md-6">
            <app-field label="Marital Status" [required]="true" [valid]="isFieldValid('maritalStatus')" errorMessage="Please select your marital status">
                <select class="form-control" formControlName="maritalStatus">
                    <option value="0">Select...</option>
                    <option value="100000000">Married</option>
                    <option value="100000001">Common Law</option>
                    <option value="100000002">Widowed</option>
                    <option value="100000003">Divorced</option>
                    <option value="100000004">Separated</option>
                    <option value="100000005">Single</option>
                    <option value="100000006">Prefer not to answer</option>
                </select>
            </app-field>
        </div>
    </div>

    <div *ngIf="formType === ApplicationType.IFM_Application" class="row">
        <div class="col-md-6">
            <app-field label="Occupation" [required]="false" [valid]="isFieldValid('occupation')" errorMessage="Please enter your occupation">
                <input class="form-control" type="text" formControlName="occupation" maxlength="100">
            </app-field>
        </div>
        <div class="col-md-6">
            <!-- [tooltipReference]="victimSinTemplate" -->
            <app-field label="Social Insurance Number (SIN)" [required]="false" [valid]="isFieldValid('sin')" errorMessage="Please enter your SIN">
                <input class="form-control sin-input" mask='000 000 000' maxlength="11" type="text" formControlName="sin">
                <ng-template #victimSinTemplate><strong>Social Insurance Number (SIN)</strong><br />Lorem ipsum...</ng-template>
            </app-field>
        </div>
    </div>

    <h2 class="blue-header">Victim's Contact Information</h2>
    <div class="row">
        <div class="col-12">
            <app-field label="Is the applicant's phone number(s) and email address the same or to be used for the victim?">
                <label class="inline-label">
                    <input type="radio" [value]="true" formControlName="victimSameContactInfo">
                    <span>Yes</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="false" formControlName="victimSameContactInfo">
                    <span>No</span>
                </label>
            </app-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <app-field label="Primary Phone Number (inc. area code)" [required]="phoneIsRequired" [valid]="isFieldValid('phoneNumber')" errorMessage="Please enter your phone number">
                <input class="form-control" mask='(000) 000 0000' (keydown)="rejectIfNotDigitOrBackSpace($event)" type="text" formControlName="phoneNumber">
            </app-field>
        </div>
        <div class="col-md-6">
            <app-field label="Alternate Phone Number (inc. area code)" [required]="false" [valid]="isFieldValid('alternatePhoneNumber')" errorMessage="Please enter your phone number">
                <input class="form-control" mask='(000) 000 0000' (keydown)="rejectIfNotDigitOrBackSpace($event)" type="text" formControlName="alternatePhoneNumber">
            </app-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <app-field label="Email Address" [required]="emailIsRequired" [valid]="isFieldValid('email')" errorMessage="Please enter your email address">
                <input class="form-control" type="text" (blur)="trimEmail(form.get('email'))" formControlName="email" maxlength="100">
            </app-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-field label="Confirm Email Address" [required]="emailIsRequired" [valid]="isFieldValid('confirmEmail')" errorMessage="Please confirm email address">
                <input class="form-control" type="text" (blur)="trimEmail(form.get('confirmEmail'))" formControlName="confirmEmail" maxlength="100">
            </app-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Most Recent Mailing Address</h3>
            <app-field label="Is victim's most recent home address same as applicant's primary home address?" [valid]="isFieldValid('mostRecentMailingAddressSameAsPersonal')" [required]="true" errorMessage="Please make a selection" [showChevrons]="false">
                <label class="inline-label">
                    <input type="radio" [value]="true" name="mostRecentMailingAddressSameAsPersonal" formControlName="mostRecentMailingAddressSameAsPersonal">
                    <span>Yes</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="false" name="mostRecentMailingAddressSameAsPersonal" formControlName="mostRecentMailingAddressSameAsPersonal">
                    <span>No</span>
                </label>
            </app-field>
        </div>
    </div>

    <app-address [group]="form.get('primaryAddress')" [showChildrenAsRequired]="addressIsRequired" [isDisabled]="form.get('mostRecentMailingAddressSameAsPersonal').value"></app-address>
</div>