h3 span {
  font-size: 14px;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h2,
h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.save-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 2rem;
}

.continue-btn {
  float: right;
}

.submit-grid {
  display: inline-grid;
  button {
    margin-bottom: 5px;
  }
}

.tooltip-icon .fa {
  color: white !important;
}

.warning-message {
  margin-top: 5vh;
}

.hidden {
  display: none !important;
}

@media print {
  .pagebreak {
    page-break-before: always;
  }
  .hide-for-print {
    display: none;
  }
  div {
    display: table;
    page-break-inside: avoid;
  }
}
