<div class="form-wrapper" style="position: relative;">
  <!-- <div [ngBusy]="[busy, busy2]"></div> -->
  <div class="row" [formGroup]="form">
    <div class="col-lg-3 col-sm-12 application-gutter">
      <h3>Witness Application</h3>
      <section class="application-nav sticky-top">
        <div>
          <mat-vertical-stepper [linear]="true" (selectionChange)="gotoPage($event)" #stepper>
            <ng-template matStepperIcon="edit">
              <mat-icon>done</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="number">
            </ng-template>
            <mat-step label="Overview"></mat-step>
            <mat-step label="Personal Information & Addresses"></mat-step>
            <mat-step label="Victim Information"></mat-step>
            <mat-step label="Crime Information"></mat-step>
            <mat-step label="Medical & Dental Information"></mat-step>
            <mat-step label="Expense & Benefits"></mat-step>
            <mat-step label="Application on Behalf of Witness"></mat-step>
            <mat-step label="Declaration"></mat-step>
            <mat-step label="Authorization"></mat-step>
            <mat-step label="Review & Submit"></mat-step>
          </mat-vertical-stepper>

          <div class="submit-container learn-benefits">
            <div class="submit-content">
              <h2>Want to learn more about your Benefits?</h2>
              <p>Click below to open a new window and view the full summary of benefits.</p>
              <p>You will not lose your progress on this application.</p>
              <p><button class="btn btn-secondary btn-wrappable" (click)="showSummaryOfBenefits()">View Summary of Benefits</button></p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="col-lg-7 col-sm-12">
      <form [formGroup]="form">

        <app-introduction [formGroup]="form" [formType]="FORM_TYPE" formGroupName="introduction" *ngIf="this.currentFormStep == 0"></app-introduction>

        <app-personal-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="personalInformation" *ngIf="this.currentFormStep == 1"></app-personal-information>

        <app-victim-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="victimInformation" *ngIf="this.currentFormStep == 2"></app-victim-information>

        <app-crime-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="crimeInformation" *ngIf="this.currentFormStep == 3"></app-crime-information>

        <app-medical-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="medicalInformation" *ngIf="this.currentFormStep == 4"></app-medical-information>

        <app-expense-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="expenseInformation" *ngIf="this.currentFormStep == 5"></app-expense-information>

        <app-representative-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="representativeInformation" *ngIf="this.currentFormStep == 6"></app-representative-information>

        <app-declaration-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="declarationInformation" *ngIf="this.currentFormStep == 7"></app-declaration-information>

        <app-authorization-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="authorizationInformation" *ngIf="this.currentFormStep == 8"></app-authorization-information>

        <app-application-review [formGroup]="form" [formType]="FORM_TYPE" [parentStepper]="stepper" *ngIf="this.currentFormStep == 9"></app-application-review>

        <div *ngIf="showValidationMessage" class="error-summary">
          <i class="fas fa-exclamation-triangle" style="margin-right: 10px;"></i>
          <span>There are errors with some fields on this page. Please scroll up to review and fix the errors (marked in red) before continuing.</span>
        </div>

        <section class="button-container">
          <!-- <div [ngBusy]="[busy3]"></div> -->
          <a (click)="verifyCancellation()" class="cancel-link"><i class="fas fa-trash-alt" style="margin-right: 10px;"></i>Cancel Application</a>
          <span style="float: right;">
            <button (click)="gotoNextStep(stepper);" class="btn btn-primary" *ngIf="stepper.selectedIndex < 9">CONTINUE <i class="fas fa-chevron-right"></i></button>
            <button (click)="markAsTouched(); submitApplication();" class="btn btn-primary" *ngIf="!submitting && stepper.selectedIndex == 9">SUBMIT APPLICATION <i class="fas fa-chevron-right"></i></button>
            <button class="btn btn-primary disabled" *ngIf="submitting && stepper.selectedIndex == 9">SUBMITTING APPLICATION <i class="fas fa-chevron-right"></i></button>
          </span>
        </section>
      </form>
    </div>
  </div>
</div>