/* You can add global styles to this file, and also import other style files */

/* Controls Survey styles */

@import "~@angular/material/theming";
@import "~mygovbc-bootstrap-theme/dist/mygovbc-bootstrap-theme.min.css";
@include mat-core();
$primary: mat-palette($mat-grey, 400);
$accent: mat-palette($mat-indigo, 500, A200, A400);
$warn: mat-palette($mat-red, 500);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
body {
    color: #494949;
    background: #f2f2f2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #494949;
    font: MyriadWebPro, Calibri, Arial, "sans serif";
    /*width: 99%;*/
}

html {
    background: #f2f2f2;
}

.btn.btn-primary {
    background-color: #38598a;
    border: #38598a 1px solid;
    color: #ffffff;
    min-width: 120px;
    font-size: 16px;
    border-radius: 5px;
}

.btn.btn-secondary {
    background-color: #fff;
    border: #ccc 1px solid;
    color: #003366;
    min-width: 120px;
    font-size: 16px;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1.42857143;
}

.btn-primary:hover {
    background-color: rgba(0, 51, 102, 1) !important;
    color: #ffffff;
    border-color: #204d74;
    border-radius: 5px;
}

.btn-secondary:hover {
    background-color: #f2f2f2;
}

.btn-secondary:focus {
    border-color: #ccc;
    box-shadow: 0 0 0 0.2rem #ccc;
}

.btn.btn-primary.sv_prev_btn {
    background-color: #ccc;
    border: #ccc 1px solid;
    color: #000;
    min-width: 120px;
    font-size: 16px;
    border-radius: 5px;
}

.btn.btn-primary.sv_prev_btn:hover {
    background-color: #2f567b !important;
    color: #ffffff;
    border-color: #204d74;
    border-radius: 5px;
}

.btn.btn-warning {
    color: #212529;
    background-color: #f9ca54;
    border-color: #f9ca54;
    min-width: 120px;
    font-size: 16px;
    border-radius: 5px;
}

.btn-warning:hover {
    color: #212529;
    background-color: #f8bf2f;
    border-color: #f7bb23;
}

.btn-warning.focus,
.btn-warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(217, 177, 78, 0.5);
}

.ctx-home {
    background: #f2f2f2;
}

.panel-footer {
    background-color: #fff;
    border-top: none;
}

p {
    font-weight: Regular;
    font-size: 14px #494949;
}

h1 {
    font-weight: Semi-bold;
    font-size: 36px;
    color: #494949;
}

h2 {
    font-weight: Semi-bold;
    font-size: 24px;
    color: #494949;
}

h3 {
    font-weight: Semi-bold;
    font-size: 20px;
    color: #494949;
}

h4 {
    font-weight: Semi-bold;
    font-size: 16px;
    color: #494949;
}

h5 {
    font-size: 21px;
    color: #494949;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}

.form-control {
    // border-radius: 5px;
    display: inline-block;
}

.extra-padding-left {
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 575.98px) {
    .extra-padding-left {
        margin-left: 0;
    }
}

.alert {
    padding: 3px 5px 3px;
    margin-top: -9px;
}

.round-icon-wrapper {
    height: 48px;
    line-height: 55px;
    width: 48px;
    border-radius: 48px;
    background-color: #7596c8;
    text-align: center;
    display: inline-block;
}

.summary-table table {
    border-spacing: 5px;
    border-collapse: separate;
    width: 100%;
}

.summary-table th {
    background-color: #38598a;
    color: #fff;
    padding: 5px 5px 3px 10px;
}

.summary-table td {
    padding: 5px;
    background-color: #e1e8f2;
}

.summary-table .row-alt {
    background-color: #f1f4fa !important;
}

.blue-header {
    background-color: #38598a;
    color: #fff;
    padding: 10px 7px 7px 15px;
    font-size: 16px;
    font-weight: semi-bold;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.error-states {
    color: #d8292f;
}

.error-summary {
    background-color: #f2f2f2;
    border: solid 1px transparent;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    color: #d8292f;
}

.form-wrapper {
    padding-left: 50px;
    padding-right: 30px;
}

@media (max-width: 575.98px) {
    .form-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.red-snackbar {
    background: #f44336;
}

.green-snackbar {
    background: #00ff21;
}

.step {
    border-bottom: 2px solid #fcba19;
    display: inline-block;
}

.padded-section {
    padding-left: 15px;
}

.notes {
    background-color: #f2f2f2;
    border: solid 1px transparent;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.submitted-header {
    background-color: rgba(56, 89, 138, 1);
    border: 1px solid transparent;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: #fff !important;
}

.submitted-header h2 {
    color: #fff !important;
}

.submitted-content {
    background-color: #eee;
    padding: 20px;
    margin-bottom: 20px;
}

.submit-container {
    background-color: #38598a;
    border-bottom: solid 4px #ffcc00;
    color: #fff;
    margin-bottom: 20px;
    padding: 30px;
    padding-top: 20px;
    h2,
    h3 {
        color: #fff;
    }
}

.cancel-link {
    cursor: pointer;
}

.cancel-link:hover {
    text-decoration: underline !important;
}

.inline-checkbox-label {
    display: flex;
}

input.form-control {
    &.date-picker {
        background-color: #fff;
    }
}

.sticky-top {
    z-index: 1000 !important;
    background-color: white;
}

.phone-number {
    white-space: nowrap;
    font-weight: 600;
}

.learn-benefits {
    margin-top: 25px;
}

.button-container {
    position: relative;
    margin: 30px 0 15px;

    // .btn {
    //     margin-left: 0 !important;
    // }
}

.continue-btn {
    float: right;
}

.submit-grid {
    display: inline-grid;
    button {
        margin-bottom: 5px;
    }
}

.download-grid {
    display: inline-grid;
    button {
        margin-bottom: 5px;
    }
}

.white-icon {
    color: white !important;
}

.white-link {
    color: white;
}

.white-link:hover {
    color: #79bff7;
}

// .tooltip-icon .fa {
//     color: white !important;
// }

.warning-message {
    margin-top: 5vh;
}

.hidden {
    display: none !important;
}

.right-buttons {
    float: right;
}

.left-buttons {
    float: left;
}

.print-button {
    margin-right: 10px;
}

@media print {
    .pagebreak {
        page-break-before: always;
    }
    .hide-for-print {
        display: none !important;
    }
    div {
        display: table;
        page-break-inside: avoid;
    }
}

.is-disabled {
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

.disabled-wrapper {
    cursor: not-allowed;
}

.disabled-stepper {
    pointer-events: none;
}

.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 6em;
    width: 6em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.dark-overlay {
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.no-app-field-botton-margin section {
    margin-bottom: 0px !important;
}

.app-field-bold label {
    font-weight: bold !important;
}

.app-field-bold label > span {
    font-weight: 400 !important;
}

.tooltip-info-container {
    margin-top: 25px;
    .tooltip-icon {
        font-size: 20px;
    }
}
