<div [formGroup]="form">
  <div class="page-header">
    <h1>Authorization</h1>
  </div>
  <p>This section authorizes the Crime Victim Assistance Program to contact the persons and organizations listed so that we may process your claim for benefits. You may be required to submit other authorizations that are needed to process your claim. If you have any questions about the collection and use of the information gathered by the Crime Victim Assistance Program, please contact the program by email at <a href="mailto:cvap@gov.bc.ca">cvap@gov.bc.ca</a> or at (604) 660-3888 or toll free at 1-866-660-3888.</p>

  <section>
    <h2>By signing this section you hereby authorize:</h2>
    <ol class="list punctuated">
      <li><span>The doctor, dentist, optometrist, chiropractor, or other health care professional who treated my injuries (physical and/or psychological) to give the Crime Victim Assistance Program, on request, medical or other reports regarding my injuries, treatment or other information relevant to this application;</span></li>
      <li><span>The police or other law enforcement authorities to give the Crime Victim Assistance Program, on request, a copy of police reports, statements, incident reports or other information relevant to this application;</span></li>
      <li><span>WorkSafe BC or other authorities from which the victim received or will receive or will be eligible to receive payments from provincial, federal or other jurisdictions funds to give the Crime Victim Assistance Program, on request, information relevant to this application.</span></li>
      <li><span>My employer(s) or similar authority to give the Crime Victim Assistance Program, on request, information as to my employment earnings, benefits or other information relevant to this application;</span></li>
      <li><span>Any accident, disability, sickness, life insurance/assurance company or private pension scheme or extended health benefits scheme from which payments or services were received or will be received to give the Crime Victim Assistance Program, on request, information relevant to this application;</span></li>
      <li><span>Human Resources and Skills Development Canada or Aboriginal Affairs and Northern Development Canada or any other authority from which payments were received or will be received to give the Crime Victim Assistance Program, on request information relevant to this application;</span></li>
      <li><span>The Canada Employment Insurance Commission or the Canada Pension Plan or similar employment insurance and pension plans from other jurisdictions, to give the Crime Victim Assistance Program, on request, information as to benefits received or to be received relevant to this application;</span></li>
      <li><span>Canada Revenue Agency or other similar agency in any other jurisdiction, to give the Crime Victim Assistance Program, upon request information as to my employment income;</span></li>
      <li><span>The Ministry of Children and Family Development (MCFD) to give the Crime Victim Assistance Program, on request, a copy of information relevant to this application.</span></li>
    </ol>
  </section>

  <section>
    <h2 class="blue-header">Standard Authorization & Signature</h2>
    <app-field [required]="true" [valid]="isFieldValid('approvedAuthorityNotification')" errorMessage="Please check this box to indicate that you accept Declaration">
      <label>
        <input type="checkbox" [value]="true" name="approvedAuthorityNotification" formControlName="approvedAuthorityNotification">
        I understand that the Crime Victim Assistance Program may notify the above authorities that I have submitted an application for benefits pursuant to the <em>Crime Victim Assistance Act</em>. <span class="error-states">*</span>
      </label>
    </app-field>

    <app-field [required]="true" [valid]="isFieldValid('readAndUnderstoodTermsAndConditions')" errorMessage="Please check this box to indicate that you accept Declaration">
      <label>
        <input type="checkbox" [value]="true" name="readAndUnderstoodTermsAndConditions" formControlName="readAndUnderstoodTermsAndConditions">
        I have read and understood the above information <span class="error-states">*</span>
      </label>
    </app-field>

    <app-field label="Applicant's Signature" [required]="true" [valid]="isFieldValid('signature')" errorMessage="Please provide your digital signature">
      <div class="signature-trigger" (click)="showSignPad('signature')" *ngIf="!hasSignature('signature')">
        <p>Click this box to sign</p>
      </div>
      <div *ngIf="hasSignature('signature')" class="signature-preview">
        <img src="{{ valueOrEmpty('signature') }}" />
        <a class="redo" (click)="showSignPad('signature')">Redo Signature</a>
      </div>
    </app-field>

    <h2 class="blue-header">Optional Authorization</h2>
    <app-field label="Would you like to allow CVAP staff to discuss your file with a victim services agency or a person?" [valid]="isFieldValid('allowCvapStaffSharing')" errorMessage="Please select an option">
      <label class="inline-label">
        <input type="radio" [value]="100000001" (click)="addAuthorizationInformation(true)" name="allowCvapStaffSharing" formControlName="allowCvapStaffSharing">
        <span>Yes</span>
      </label>
      <label class="inline-label">
        <input type="radio" [value]="100000000" (click)="clearAuthorizationInformation()" name="allowCvapStaffSharing" formControlName="allowCvapStaffSharing">
        <span>No</span>
      </label>
    </app-field>

    <section *ngIf="form.get('allowCvapStaffSharing').value === 100000001">
      <div class="authorizedPerson" formArrayName="authorizedPerson" *ngFor="let item of form.get('authorizedPerson')['controls']; let i = index;">
        <div [formGroupName]="i" class="authorizedPers">
          <a href="javascript:void(0);" (click)="removeAuthorizationInformation(i)" class="float-right" *ngIf="showRemoveAuthorization"><i class="fas fa-trash-alt"></i> Delete Authorization</a>
          <h3>Authorized Person {{ i + 1 }}</h3>
          <div class="row">
            <div class="col-md-6">
              <app-field label="First Name" [required]="true" [valid]="isMyControlValid(item.get('authorizedPersonFirstName'))" errorMessage="Please enter first name">
                <input class="form-control" type="text" formControlName="authorizedPersonFirstName">
              </app-field>
            </div>
            <div class="col-md-6">
              <app-field label="Last Name" [required]="true" [valid]="isMyControlValid(item.get('authorizedPersonLastName'))" errorMessage="Please enter last name">
                <input class="form-control" type="text" formControlName="authorizedPersonLastName">
              </app-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <app-field label="Relationship to Applicant" [required]="true" [valid]="isMyControlValid(item.get('authorizedPersonRelationship'))" errorMessage="Please enter Relationship to Applicant">
                <input class="form-control" type="text" formControlName="authorizedPersonRelationship">
              </app-field>
            </div>
            <div class="col-md-6">
              <app-field label="Phone Number (incl. area code)" [valid]="isMyControlValid(item.get('authorizedPersonPhoneNumber'))" errorMessage="Please enter a valid phone number">
                <input class="form-control" mask='(000) 000 0000' type="text" formControlName="authorizedPersonPhoneNumber">
              </app-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <app-field label="Agency Name">
                <input class="form-control" type="text" formControlName="authorizedPersonAgencyName">
              </app-field>
            </div>
            <div class="col-md-6">
              <app-field label="Email Address" [valid]="isMyControlValid(item.get('authorizedPersonEmail'))" errorMessage="Please enter an email address">
                <input class="form-control" type="text" (blur)="trimEmail(item.get('authorizedPersonEmail'))" formControlName="authorizedPersonEmail" maxlength="100">
              </app-field>
            </div>
          </div>

          <app-address [group]="item.get('authorizedPersonAgencyAddress')" [showChildrenAsRequired]="false"></app-address>

        </div>
      </div>

      <a href="javascript:void(0);" class="btn btn-secondary add-auth-btn" (click)="addAuthorizationInformation(false)" *ngIf="showAddAuthorizationInformation">Add an Authorization</a>

      <app-field [valid]="isFieldValid('authorizedPersonAuthorizesDiscussion')" errorMessage="Please check this box to indicate that you accept Declaration" [required]="true">
        <label>
          <input type="checkbox" [value]="true" name="authorizedPersonAuthorizesDiscussion" formControlName="authorizedPersonAuthorizesDiscussion" [required]="true">
          I hereby authorize the Crime Victim Assistance Program staff to discuss my claim with the above named authorized person(s). <span class="error-states ng-star-inserted">*</span>
        </label>
      </app-field>

      <app-field label="Signature" [required]="true" [valid]="isFieldValid('authorizedPersonSignature')" errorMessage="Please provide your digital signature">
        <div class="signature-trigger" (click)="showSignPad('authorizedPersonSignature')" *ngIf="!hasSignature('authorizedPersonSignature')">
          <p>Click this box to sign</p>
        </div>
        <div *ngIf="hasSignature('authorizedPersonSignature')" class="signature-preview">
          <img src="{{ valueOrEmpty('authorizedPersonSignature') }}" />
          <a class="redo" (click)="showSignPad('authorizedPersonSignature')">Redo Signature</a>
        </div>
      </app-field>

    </section>
  </section>
</div>