<div class="form-wrapper" style="position: relative;">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <h1>Application Cancelled</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      <h2>Other Application Forms</h2>
      <ul>
        <li class="nav-item">
          <a tabindex="2" routerLink="/victim-application" title="Home">Victim Application</a>
        </li>
        <li class="nav-item">
          <a tabindex="2" routerLink="/witness-application" title="Home">Witness Application</a>
        </li>
        <li class="nav-item">
          <a tabindex="2" routerLink="/ifm-application">Family Member Application</a>
        </li>
      </ul>
      <p><a href="#">Click here for more info on the Crime Victim Assistance Program</a></p>
    </div>
  </div>
</div>
