<div [formGroup]="form">
    <div class="page-header">
        <h1>{{page_header}}</h1>
    </div>

    <p *ngIf="formType.val === ResitutionForm.Offender.val">
        To apply to the Restitution Program, please complete and sign this application form, then review and submit it.<br />
        A Restitution caseworker will be in touch with you regarding the next steps.
    </p>

    <h2 class="blue-header" id="ApplicantInformation" [class.mt-0]="ResitutionForm.Victim.val">{{applicant_type}} Information</h2>
    <h3>{{applicant_type}} Information</h3>

    <div class="row">
        <div class="col-md-4">
            <app-field [label]="applicant_type + ' First Name'" [required]="true" [valid]="isFieldValid('firstName')" errorMessage="Please enter your first name" [disabled]="isDisabled">
                <input class="form-control" type="text" formControlName="firstName" maxlength="100">
            </app-field>
        </div>
        <div class="col-md-4">
            <app-field [label]="applicant_type + ' Middle Name'" [required]="false" [valid]="isFieldValid('middleName')" errorMessage="Please enter your middle name" [disabled]="isDisabled">
                <input class="form-control" type="text" formControlName="middleName" maxlength="100">
            </app-field>
        </div>
        <div class="col-md-4">
            <app-field [label]="applicant_type + ' Last Name'" [required]="true" [valid]="isFieldValid('lastName')" errorMessage="Please enter your last name" [disabled]="isDisabled">
                <input class="form-control" type="text" formControlName="lastName" maxlength="100">
            </app-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label class="inline-label">
                <input type="checkbox" style="margin-right: 10px;" formControlName="iHaveOtherNames" [value]="true" (change)="iHaveOtherNamesChange($event.target.checked)">
                <span>I also go by other names (e.g. nickname, maiden name, alias)</span>
            </label>
        </div>
    </div>

    <div *ngIf="form.get('iHaveOtherNames').value === true">
        <div class="row">
            <div class="col-md-4">
                <app-field label="Other First Name" [required]="false" [valid]="isMyControlValid(form.get('otherFirstName'))" errorMessage="Please enter your other first name">
                    <input class="form-control" type="text" formControlName="otherFirstName" maxlength="100">
                </app-field>
            </div>
            <div class="col-md-4">
                <app-field label="Other Last Name" [required]="false" [valid]="isMyControlValid(form.get('otherLastName'))" errorMessage="Please enter your other last name">
                    <input class="form-control" type="text" formControlName="otherLastName" maxlength="100">
                </app-field>
            </div>
        </div>
    </div>

    <div class="row" [class.mt-3]="form.get('iHaveOtherNames').value !== true">
        <div class="col-md-6 date-col">
            <app-field label="Birth Date" [required]="true" [valid]="isMyControlValid(form.get('birthDate'))" errorMessage="Please enter your birth date" [disabled]="isDisabled">
                <app-date-field [control]="form.get('birthDate')" [max]="today" [disabled]="isDisabled"></app-date-field>
            </app-field>
        </div>

        <div class="col flex-col">
            <app-field label="Gender" [required]="true" [valid]="isMyControlValid(form.get('gender'))" errorMessage="Please select your gender" [disabled]="isDisabled">
                <label class="inline-label">
                    <input type="radio" [value]="enum.CRMGender.Male.val" name="gender" formControlName="gender">
                    <span>M</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="enum.CRMGender.Female.val" name="gender" formControlName="gender">
                    <span>F</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="enum.CRMGender.X.val" name="gender" formControlName="gender">
                    <span>X <app-tool-tip [trigger]="genderXToolTip"></app-tool-tip></span>
                </label>
            </app-field>
        </div>
        <ng-template #genderXToolTip>Use this category if you do not wish to report gender as exclusively male or female.</ng-template>
    </div>

    <div class="row">
        <div class="col-md-6">
            <app-field label="Do you identify as an Indigenous person?" [required]="true" [valid]="isMyControlValid(form.get('indigenousStatus'))" errorMessage="Please select an option">
                <select class="form-control" formControlName="indigenousStatus">
                    <option [value]="enum.IndigenousStatus.BLANK.val">Select...</option>
                    <option [value]="enum.IndigenousStatus.First_Nations.val">First Nations</option>
                    <option [value]="enum.IndigenousStatus.Metis.val">Métis</option>
                    <option [value]="enum.IndigenousStatus.Inuit.val">Inuit</option>
                    <option [value]="enum.IndigenousStatus.Prefere_Not_To_Answer.val">Prefer Not to Answer</option>
                    <option [value]="enum.IndigenousStatus.Not_Applicable.val">Not Applicable</option>
                </select>
            </app-field>
        </div>
    </div>

    <ng-container>
        <div class="row">
            <div class="col-12">
                <h3 *ngIf="formType.val === ResitutionForm.Victim.val">Authorized Victim Designate</h3>
                <h3 *ngIf="formType.val === ResitutionForm.Offender.val">Authorized Applicant Designate</h3>
                <!-- <p>Victims have the option of assigning a designate to communicate with the Restitution Program on their behalf.</p> -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <app-field [label]="'Do you want to authorize someone to be ' + (formType.val === ResitutionForm.Victim.val ? 'a Victim' : 'an Applicant') + ' Designate?'" [required]="true" [valid]="isMyControlValid(form.get('authorizeDesignate'))" errorMessage="Please make a selection" [disabled]="isDisabled">
                    <label class="inline-label">
                        <input type="radio" [value]="CRMBoolean.True" name="authorizeDesignate" formControlName="authorizeDesignate" (change)="authorizeDesignateChange()">
                        <span>Yes</span>
                    </label>
                    <label class="inline-label">
                        <input type="radio" [value]="CRMBoolean.False" name="authorizeDesignate" formControlName="authorizeDesignate" (change)="authorizeDesignateChange()">
                        <span>No</span>
                    </label>
                </app-field>
            </div>
        </div>

        <div formArrayName="designate" *ngFor="let item of form.get('designate')['controls']; let i = index;">
            <div [formGroupName]="i" class="designate-info">
                <div class="row">
                    <div class="col-md-4">
                        <app-field label="Authorized Designate First Name" [required]="true" [valid]="isMyControlValid(item.get('firstName'))" errorMessage="Please enter your designate's first name" [disabled]="isDisabled">
                            <input class="form-control" type="text" formControlName="firstName" maxlength="100">
                        </app-field>
                    </div>
                    <div class="col-md-4">
                        <app-field label="Authorized Designate Last Name" [required]="true" [valid]="isMyControlValid(item.get('lastName'))" errorMessage="Please enter your designate's last name" [disabled]="isDisabled">
                            <input class="form-control" type="text" formControlName="lastName" maxlength="100">
                        </app-field>
                    </div>
                    <div class="col-md-4">
                        <app-field label="Authorized Designate Preferred Name" [required]="false" [valid]="isMyControlValid(item.get('preferredName'))" errorMessage="Please enter your designate's preferred name" [disabled]="isDisabled">
                            <input class="form-control" type="text" formControlName="preferredName" maxlength="100">
                        </app-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label class="inline-label inline-checkbox-label">
                            <input type="checkbox" [value]="true" name="actOnBehalf" formControlName="actOnBehalf">
                            <span>I hereby authorize to act on my behalf for the purposes of involvement with the Restitution Program which includes personal information pertaining to me.</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <app-restitution-contact-information [formGroup]="form.get('contactInformation')" [formType]="formType" [lookupData]="lookupData" formGroupName="contactInformation" [isDisabled]="isDisabled"></app-restitution-contact-information>

    <ng-container *ngIf="formType.val === ResitutionForm.Offender.val">
        <h2 class="blue-header" id="ProbationOfficerInformation">Probation/Parole/Custody Information</h2>

        <div class="row">
            <div class="col-md-6">
                <app-field label="Parole/Probation Officer First Name" [valid]="isMyControlValid(form.get('probationOfficerFirstName'))" errorMessage="Please enter your officer's first name" [disabled]="isDisabled">
                    <input class="form-control" type="text" formControlName="probationOfficerFirstName" maxlength="100">
                </app-field>
            </div>
            <div class="col-md-6">
                <app-field label="Parole/Probation Officer Last Name" [valid]="isMyControlValid(form.get('probationOfficerLastName'))" errorMessage="Please enter your officer's last name" [disabled]="isDisabled">
                    <input class="form-control" type="text" formControlName="probationOfficerLastName" maxlength="100">
                </app-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-field label="Parole/Probation Officer Phone Number" [valid]="isMyControlValid(form.get('probationOfficerPhoneNumber'))" errorMessage="Please enter your officer's phone number" [disabled]="isDisabled">
                    <input class="form-control" mask='(000) 000 0000' type="text" formControlName="probationOfficerPhoneNumber">
                </app-field>
            </div>
            <div class="col-md-6">
                <app-field label="Parole/Probation Officer Email Address" [valid]="isMyControlValid(form.get('probationOfficerEmail'))" errorMessage="Please enter your email address" [disabled]="isDisabled">
                    <input class="form-control" type="text" formControlName="probationOfficerEmail" maxlength="100">
                </app-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-field label="Custody Location (if applicable)" [valid]="isMyControlValid(form.get('probationOfficerCustodyLocation'))" errorMessage="Please enter your officer's last name" [disabled]="isDisabled">
                    <input class="form-control" type="text" formControlName="probationOfficerCustodyLocation" maxlength="100">
                </app-field>
            </div>
        </div>
    </ng-container>

    <h2 class="blue-header" id="CourtFileInformation">Restitution Order Information</h2>

    <div formArrayName="courtFiles" *ngFor="let item of form.get('courtFiles')['controls']; let i = index;">
        <div [formGroupName]="i" class="court-file-info">
            <ng-container *ngIf="formType.val === ResitutionForm.Victim.val">
                <div class="row remove-row">
                    <div class="col">
                        <app-field label="Offender First Name" [valid]="isMyControlValid(item.get('firstName'))" errorMessage="Please enter first name" [disabled]="isDisabled">
                            <input class="form-control" type="text" formControlName="firstName" maxlength="100">
                        </app-field>
                    </div>
                    <div class="col">
                        <app-field label="Offender Middle Name" [valid]="isMyControlValid(item.get('middleName'))" errorMessage="Please enter middle name" [disabled]="isDisabled">
                            <input class="form-control" type="text" formControlName="middleName" maxlength="100">
                        </app-field>
                    </div>
                    <div class="col">
                        <app-field label="Offender Last Name" [valid]="isMyControlValid(item.get('lastName'))" errorMessage="Please enter last name" [disabled]="isDisabled">
                            <input class="form-control" type="text" formControlName="lastName" maxlength="100">
                        </app-field>
                    </div>

                    <div class="col-1" *ngIf="formType.val === ResitutionForm.Victim.val && form.get('courtFiles')['controls'].length > 1">
                        <div class="remove-button">
                            <br>
                            <i class="fas fa-times-circle text-danger center-clear-btn" (click)="removeCourtFile(i)"></i>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <app-field label="Relationship to the Offender" [valid]="isMyControlValid(item.get('relationship'))" errorMessage="Please enter relationship" [disabled]="isDisabled">
                            <select class="form-control" formControlName="relationship">
                                <option value="">Select...</option>
                                <option *ngFor="let rel of relationshipList" [value]="rel">{{ rel }} </option>
                            </select>
                            <app-tool-tip *ngIf="item.get('relationship').value === 'Acquaintance'" [trigger]="relationshipToolTip" class="relationshipToolTip"></app-tool-tip>
                        </app-field>
                    </div>
                </div>
                <ng-template #relationshipToolTip>Use this category for close friends, neighbours, authority figures, reverse authority figures, business relationships and casual acquaintances.</ng-template>
            </ng-container>

            <div class="row" [class.remove-row]="formType.val === ResitutionForm.Offender.val">
                <div class="col-md-4">
                    <app-field label="Court File Number" [valid]="isMyControlValid(item.get('fileNumber'))" errorMessage="Please enter file number" [disabled]="isDisabled">
                        <input class="form-control" type="text" formControlName="fileNumber" maxlength="100">
                    </app-field>
                </div>
                <div class="col-md-4">
                    <app-field label="Court Location" [valid]="isMyControlValid(item.get('location'))" errorMessage="Please enter location" [disabled]="isDisabled">
                        <input class="form-control" type="text" formControlName="location" maxlength="100">
                    </app-field>
                </div>
                <div class="col-1" *ngIf="formType.val === ResitutionForm.Offender.val && form.get('courtFiles')['controls'].length > 1">
                    <div class="remove-button">
                        <br>
                        <i class="fas fa-times-circle text-danger center-clear-btn" (click)="removeCourtFile(i)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <button *ngIf="!isDisabled" class="btn btn-secondary" (click)="addCourtFile()">+ ADD RESTITUTION ORDER</button>
    </div>


    <ng-container *ngIf="formType.val === ResitutionForm.Victim.val">
        <h2 class="blue-header" id="VSWInformation">Victim Service Worker</h2>

        <div formArrayName="vsw" *ngFor="let item of form.get('vsw')['controls']; let i = index;">
            <div [formGroupName]="i" class="vsw-info">
                <div class="row">
                    <div class="col-md-6">
                        <app-field label="Victim Service Worker First Name" [valid]="isMyControlValid(item.get('firstName'))" [disabled]="isDisabled">
                            <input class="form-control" type="text" formControlName="firstName" maxlength="100">
                        </app-field>
                    </div>
                    <div class="col-md-6">
                        <app-field label="Victim Service Worker Last Name" [valid]="isMyControlValid(item.get('lastName'))" [disabled]="isDisabled">
                            <input class="form-control" type="text" formControlName="lastName" maxlength="100">
                        </app-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <app-field label="Program Name" [valid]="isMyControlValid(item.get('program'))" [disabled]="isDisabled">
                            <input class="form-control" type="text" formControlName="program" maxlength="100">
                        </app-field>
                    </div>
                    <div class="col-md-6">
                        <app-field label="Phone Number" [valid]="isMyControlValid(item.get('phoneNumber'))" errorMessage="Please enter your vsw's phone number" [disabled]="isDisabled">
                            <input class="form-control" mask='(000) 000 0000' type="text" formControlName="phoneNumber">
                        </app-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <app-field label="Email Address" [valid]="isMyControlValid(item.get('email'))" errorMessage="Please enter your email address" [disabled]="isDisabled">
                            <input class="form-control" type="text" formControlName="email" maxlength="100">
                        </app-field>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <h2 class="blue-header" id="DocumentInformation">Copy of Restitution Order</h2>
    <p>Where possible, please include a copy of the Restitution Order when submitting this application.</p>
    <app-file-uploader [formGroup]="form" [formType]="formType" [documents]="form.get('documents')"></app-file-uploader>

    <h2 class="blue-header" id="CollectionNotice">Collection Notice</h2>
    <p>The collection of your personal information as part of the Restitution Program is authorized under section 26(c) of the Freedom of Information and Protection of Privacy Act for the purpose of facilitating restitution payments. The Restitution Program may also collect personal information under section 26(e) of FoIPPA for the purpose of evaluating the program and activities to better serve you. If you have any questions about the collection of your personal information, please contact:
        <br />
        <br />
        Restitution Program Manager <br />
        PH: (604) 660-4898, Toll Free: 1-844-660-4898 <br />
        PO Box 5550 Station Terminal, Vancouver, BC V6B 1H1
    </p>

    <h2 class="blue-header" id="SignatureInformation">Declaration & Signature</h2>
    <app-field [required]="true" [valid]="isFieldValid('declaredAndSigned')" errorMessage="Please check this box to indicate that you accept Declaration">
        <label class="inline-label inline-checkbox-label">
            <input type="checkbox" [value]="true" name="declaredAndSigned" formControlName="declaredAndSigned">
            <span *ngIf="formType.val === ResitutionForm.Victim.val">By signing this form, I am applying to the Restitution Program for assistance in the facilitation of my restitution order and I confirm that I am the individual named on this form (or the parent/guardian/legal representative of the victim named on this form). Where applicable, I give permission to the Restitution Program to release information to the Victim Designate I have named above.<span class="error-states">*</span></span>
            <span *ngIf="formType.val === ResitutionForm.Offender.val">By signing this form, I am applying to the Restitution Program for assistance in the facilitation of my restitution order and I confirm that I am the individual named on this form.<span class="error-states">*</span></span>
        </label>
    </app-field>

    <app-field label="Signature" [required]="true" [valid]="isFieldValid('signature')" errorMessage="Please provide your digital signature">
        <div class="signature-trigger" (click)="showSignPad('signature')" *ngIf="!hasSignature('signature')">
            <p>Click this box to sign</p>
        </div>
        <div *ngIf="hasSignature('signature')" class="signature-preview">
            <img src="{{ valueOrEmpty('signature') }}" />
            <a class="redo" (click)="showSignPad('signature')">Redo Signature</a>
        </div>
    </app-field>
</div>