<div class="form-wrapper" style="position: relative;">
  <div [ngBusy]="[busy, busy2]"></div>
  <div class="row" [formGroup]="form">
    <div class="col-lg-3 col-sm-12 application-gutter">
      <section class="application-nav">
        <h3>Victim Application</h3>
        <mat-vertical-stepper [linear]="true" (selectionChange)="gotoPage($event)" #stepper>
          <ng-template matStepperIcon="edit">
            <mat-icon>done</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="number">
          </ng-template>
          <mat-step label="Overview"></mat-step>
          <mat-step label="Victim Information & Addresses"></mat-step>
          <mat-step label="Crime Information"></mat-step>
          <mat-step label="Medical & Dental Information"></mat-step>
          <mat-step label="Expense & Loss Information"></mat-step>
          <mat-step label="Employment Income"></mat-step>
          <mat-step label="Application on Behalf of Victim"></mat-step>
          <mat-step label="Declaration"></mat-step>
          <mat-step label="Authorization"></mat-step>
          <mat-step label="Review & Submit"></mat-step>
        </mat-vertical-stepper>
      </section>

      <section class="submit-container learn-benefits">
        <div class="submit-content">
          <h2>Want to learn more about your Benefits?</h2>
          <p>Click below to open a new window and view the full summary of benefits.</p>
          <p>You will not lose your progress on this application.</p>
          <p><button class="btn btn-secondary btn-wrappable" (click)="showSummaryOfBenefits()">View Summary of Benefits</button></p>
        </div>
      </section>
    </div>

    <div id="pdfPrintGroup" class="col-lg-7 col-sm-12">
      <form [formGroup]="form">
        <app-introduction [formGroup]="form" [formType]="FORM_TYPE" formGroupName="introduction" *ngIf="this.currentFormStep == 0"></app-introduction>

        <app-personal-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="personalInformation" *ngIf="this.currentFormStep == 1"></app-personal-information>

        <app-crime-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="crimeInformation" *ngIf="this.currentFormStep == 2"></app-crime-information>

        <app-medical-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="medicalInformation" *ngIf="this.currentFormStep == 3"></app-medical-information>

        <app-expense-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="expenseInformation" *ngIf="this.currentFormStep == 4"></app-expense-information>

        <div *ngIf="this.currentFormStep == 5">
          <div class="page-header">
            <h1>Employment Income</h1>
          </div>
          <span *ngIf="form.get('expenseInformation.haveLostEmploymentIncomeExpenses') == undefined || form.get('expenseInformation.haveLostEmploymentIncomeExpenses').value === false">

            <section>
              <!-- <p>This section provides information regarding employment information. This information is only necessary if you are requesting benefits for lost employment income.</p> -->
              <p>You have not requested income benefit, if this is correct continue to the next page. If you are requesting this benefit, go back to Expense & Loss Information.</p>
            </section>
            <section class="button-container">
              <div [ngBusy]="[busy3]"></div>
              <a (click)="verifyCancellation()" class="cancel-link"><i class="fas fa-trash-alt" style="margin-right: 10px;"></i>Cancel Application</a>
              <span style="float: right;">
                <button (click)="gotoNextStep(stepper, true)" class="btn btn-primary">CONTINUE <i class="fas fa-chevron-right"></i></button>
              </span>
            </section>
          </span>
          <span *ngIf="form.get('expenseInformation.haveLostEmploymentIncomeExpenses').value === true">
            <section>
              <!-- this whole project seems to e reactive forms, and weirdly this one component is template, that's fun -->
              <!-- formControlName="employmentIncomeInformation" -->
              <app-employment-income [value]="form.get('employmentIncomeInformation').value" (valueChange)="setEmploymentInformation($event)" (employerAdded)="addEmployer()" #employmentIncomeInfo></app-employment-income>
            </section>
            <section class="button-container">
              <div [ngBusy]="[busy3]"></div>
              <a (click)="verifyCancellation()" class="cancel-link"><i class="fas fa-trash-alt" style="margin-right: 10px;"></i>Cancel Application</a>
              <span style="float: right;">
                <button [disabled]="!employmentInfoFormIsValid" (click)="gotoNextStep(stepper)" class="btn btn-primary">CONTINUE <i class="fas fa-chevron-right"></i></button>
                <!-- || (form.get('employmentIncomeInformation.didYouLoseWages').value === 100000001 && form.get('employmentIncomeInformation.areYouSelfEmployed').value < 10) -->
                <!-- <button *ngIf="form.get('employmentIncomeInformation').valid===true" (click)="gotoNextStep(stepper)" class="btn btn-primary">CONTINUE <i class="fas fa-chevron-right"></i></button> -->
              </span>
            </section>
          </span>
        </div>

        <app-representative-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="representativeInformation" *ngIf="this.currentFormStep == 6"></app-representative-information>

        <app-declaration-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="declarationInformation" *ngIf="this.currentFormStep == 7"></app-declaration-information>

        <app-authorization-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="authorizationInformation" *ngIf="this.currentFormStep == 8"></app-authorization-information>

        <div *ngIf="this.currentFormStep == 9">
          <div class="page-header">
            <h1>Review & Submit</h1>
          </div>
          <p>Please check the accuracy of the information entered in your application before submitting.</p>
          <app-victim-review [group]="form" [parentStepper]="stepper"></app-victim-review>
        </div>

        <div *ngIf="showValidationMessage" class="error-summary">
          <i class="fas fa-exclamation-triangle" style="margin-right: 10px;"></i>
          <span>There are errors with some fields on this page. Please scroll up to review and fix the errors (marked in red) before continuing.</span>
        </div>

        <section class="button-container">
          <div [ngBusy]="[busy3]"></div>
          <!-- Stepper page 5 is employment information. The one page has a validation problem. I have spent 32+ hours trying to find it and am giving up and making a hack. -->
          <a (click)="verifyCancellation()" *ngIf="stepper.selectedIndex!=5" class="cancel-link"><i class="fas fa-trash-alt" style="margin-right: 10px;"></i>Cancel Application</a>
          <span style="float: right;">
            <button (click)="gotoNextStep(stepper);" class="btn btn-primary continue-btn" *ngIf="stepper.selectedIndex < 9 &&stepper.selectedIndex!=5">CONTINUE <i class="fas fa-chevron-right"></i></button>
            <button (click)="markAsTouched(); producePDF();" class="btn btn-primary" *ngIf="stepper.selectedIndex == 9">PRINT PDF</button>&nbsp;
            <button (click)="markAsTouched(); submitApplication();" class="btn btn-primary" *ngIf="!submitting && stepper.selectedIndex == 9">SUBMIT APPLICATION <i class="fas fa-chevron-right"></i></button>
            <button class="btn btn-primary disabled" *ngIf="submitting && stepper.selectedIndex == 9">SUBMITTING APPLICATION <i class="fas fa-chevron-right"></i></button>
          </span>
        </section>
      </form>
    </div>
  </div>
</div>