<div class="form-wrapper" style="position: relative;" [class.dark-overlay]="submitting">
  <div class="loading-indicator" *ngIf="submitting">
    <mat-spinner mode="indeterminate"></mat-spinner>
  </div>
  <div class="row" [formGroup]="form">
    <div class="col-lg-3 col-sm-12 application-gutter" [class.hidden]="showPrintView">
      <h3>Victim Application</h3>
      <section class="application-nav sticky-top">
        <div>
          <mat-vertical-stepper linear (selectionChange)="gotoPage($event)" #stepper [class.disabled-stepper]="submitting">
            <ng-template matStepperIcon="edit">
              <i class="fa fa-check"></i>
            </ng-template>
            <ng-template matStepperIcon="error">
              <i class="fa fa-times"></i>
            </ng-template>
            <ng-template matStepperIcon="number">
            </ng-template>

            <mat-step label="Overview" [hasError]="!isMyControlValid(form.get('introduction'))"></mat-step>
            <mat-step label="Victim Information & Addresses" [hasError]="!isMyControlValid(form.get('personalInformation'))"></mat-step>
            <mat-step label="Crime Information" [hasError]="!isMyControlValid(form.get('crimeInformation'))"></mat-step>
            <mat-step label="Medical & Dental Information" [hasError]="!isMyControlValid(form.get('medicalInformation'))"></mat-step>
            <mat-step label="Expense & Loss Information" [hasError]="!isMyControlValid(form.get('expenseInformation'))"></mat-step>
            <mat-step label="Employment Income" [hasError]="!isMyControlValid(form.get('employmentIncomeInformation'))"></mat-step>
            <mat-step label="Application on Behalf of Victim" [hasError]="!isMyControlValid(form.get('representativeInformation'))"></mat-step>
            <mat-step label="Declaration" [hasError]="!isMyControlValid(form.get('declarationInformation'))"></mat-step>
            <mat-step label="Authorization" [hasError]="!isMyControlValid(form.get('authorizationInformation'))"></mat-step>
            <mat-step label="Review & Submit"></mat-step>
          </mat-vertical-stepper>

          <div class="tooltip-info-container">
            When you see <app-tool-tip></app-tool-tip>, hover over this icon for more information
          </div>

          <div class="submit-container learn-benefits">
            <div class="submit-content">
              <h3>Want to learn more about your Benefits?</h3>
              <p>Click below to open a new window and view the full summary of benefits.</p>
              <p>You will not lose your progress on this application.</p>
              <p><button class="btn btn-secondary btn-wrappable" (click)="showSummaryOfBenefits()">View Summary of Benefits</button></p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div id="pdfPrintGroup" class="col-lg-7 col-sm-12">
      <form [formGroup]="form">
        <div *ngIf="isIE" class="alert alert-danger warning-message">
          <p>It looks like you are using an unsupported browser.</p>
          <p>For best results, we recommend you use Chrome, Firefox, Edge, or Safari.</p>
        </div>

        <app-introduction [formGroup]="form" [formType]="FORM_TYPE" formGroupName="introduction" *ngIf="this.currentFormStep == 0 || showPrintView"></app-introduction>

        <div class="pagebreak"> </div>
        <app-personal-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="personalInformation" [lookupData]="lookupData" *ngIf="this.currentFormStep == 1 || showPrintView"></app-personal-information>

        <div class="pagebreak"> </div>
        <app-crime-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="crimeInformation" [lookupData]="lookupData" *ngIf="this.currentFormStep == 2 || showPrintView"></app-crime-information>

        <div class="pagebreak"> </div>
        <app-medical-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="medicalInformation" [lookupData]="lookupData" *ngIf="this.currentFormStep == 3 || showPrintView"></app-medical-information>

        <div class="pagebreak"> </div>
        <app-expense-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="expenseInformation" [lookupData]="lookupData" *ngIf="this.currentFormStep == 4 || showPrintView"></app-expense-information>

        <div class="pagebreak"> </div>
        <app-employment-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="employmentIncomeInformation" [lookupData]="lookupData" *ngIf="this.currentFormStep == 5 || showPrintView"></app-employment-information>

        <div class="pagebreak"> </div>
        <app-representative-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="representativeInformation" [lookupData]="lookupData" *ngIf="this.currentFormStep == 6 || showPrintView"></app-representative-information>

        <div class="pagebreak"> </div>
        <app-declaration-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="declarationInformation" [lookupData]="lookupData" *ngIf="this.currentFormStep == 7 || showPrintView"></app-declaration-information>

        <div class="pagebreak"> </div>
        <app-authorization-information [formGroup]="form" [formType]="FORM_TYPE" formGroupName="authorizationInformation" [lookupData]="lookupData" *ngIf="this.currentFormStep == 8 || showPrintView"></app-authorization-information>

        <div class="pagebreak"> </div>
        <app-application-review [formGroup]="form" [formType]="FORM_TYPE" [parentStepper]="stepper" *ngIf="this.currentFormStep == 9 || showPrintView"></app-application-review>

        <div *ngIf="showValidationMessage" class="error-summary">
          <i class="fas fa-exclamation-triangle" style="margin-right: 10px;"></i>
          <span>There are errors with some fields on this page. Please scroll up to review and fix the errors (marked in red) before continuing.</span>
        </div>

        <section class="button-container" *ngIf="!showPrintView">
          <a (click)="verifyCancellation()" class="cancel-link"><i class="fas fa-trash-alt" style="margin-right: 10px;"></i>Cancel Application</a>
          <span class="right-buttons">
            <!-- [class.disabled]="!didLoad" -->
            <button (click)="gotoNextStep(stepper);" class="btn btn-primary continue-btn" *ngIf="stepper.selectedIndex < 9">CONTINUE <i class="fas fa-chevron-right"></i></button>
            <div class="left-buttons download-grid" [class.disabled-wrapper]="submitting">
              <button (click)="printApplication();" class="btn btn-primary print-button" [class.is-disabled]="submitting" *ngIf="stepper.selectedIndex == 9">PRINT PDF</button>
              <button (click)="downloadPDF();" class="btn btn-primary print-button" [class.is-disabled]="submitting" *ngIf="stepper.selectedIndex == 9">DOWNLOAD PDF</button>
            </div>
            <div class="submit-grid" [class.disabled-wrapper]="submitting">
              <button (click)="markAsTouched(); submitApplication();" class="btn btn-primary" [class.is-disabled]="submitting" *ngIf="stepper.selectedIndex == 9">SUBMIT VICTIM APPLICATION AND EXIT <i class="fas fa-chevron-right"></i></button>
              <button (click)="markAsTouched(); submitApplicationAndClone('VICTIM');" class="btn btn-primary" [class.is-disabled]="submitting" *ngIf="stepper.selectedIndex == 9">SUBMIT AND START NEW VICTIM APPLICATION <span class='tooltip-icon' data-placement="right" data-animation="true" data-show="true" [tooltip]='VictimToolTip'><i class='fa fa-info-circle white-icon'></i></span> <i class="fas fa-chevron-right"></i></button>
              <button (click)="markAsTouched(); submitApplicationAndClone('IFM');" class="btn btn-primary" [class.is-disabled]="submitting" *ngIf="stepper.selectedIndex == 9">SUBMIT AND START NEW IFM APPLICATION <span class='tooltip-icon' data-placement="right" data-animation="true" data-show="true" [tooltip]='IFMToolTip'><i class='fa fa-info-circle white-icon'></i></span> <i class="fas fa-chevron-right"></i></button>
            </div>
          </span>
        </section>
      </form>
    </div>
  </div>
</div>

<ng-template #VictimToolTip>Use when new victim application is regarding the <b><u>same crime</u></b>, is an immediate family member of the current applicant and living in the same home as certain information will be auto-populated from application to application (e.g. address, police information); however, all pre-populated fields are editable if needed.</ng-template>
<ng-template #IFMToolTip>Use when new IFM application is regarding the <b><u>same crime</u></b>, is an immediate family member of the current applicant and living in the same home as certain information will be auto-populated from application to application (e.g. address, police information); however, all pre-populated fields are editable if needed.</ng-template>