<section>
  <h2 class="blue-header">Overview</h2>

  <p>
    <label class="inline-label">
      <input type="checkbox" checked="checked" disabled="disabled" />
      <span>I have read and understood all the above information.</span>
    </label>
  </p>
</section>

<section>
  <h2 class="blue-header">Personal Information & Addresses</h2>
  <h3>Applicant Name</h3>
  <table class="table table-striped review-table">
    <tbody>
      <tr>
        <th>First Name</th>
        <td>{{ valueOrEmpty('personalInformation.firstName') }} </td>
      </tr>
      <tr>
        <th>Middle Name</th>
        <td>{{ valueOrEmpty('personalInformation.middleName') }} </td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td>{{ valueOrEmpty('personalInformation.lastName') }} </td>
      </tr>
      <tr>
        <th>Other First Name</th>
        <td>{{ valueOrEmpty('personalInformation.otherFirstName') }} </td>
      </tr>
      <tr>
        <th>Other Last Name</th>
        <td>{{ valueOrEmpty('personalInformation.otherFirstName') }} </td>
      </tr>
      <tr>
        <th>Date of Name Change</th>
        <td>{{ valueOrEmpty('personalInformation.dateOfNameChange') }} </td>
      </tr>
    </tbody>
  </table>

  <h3>Other Details</h3>
  <table class="table table-striped review-table">
    <tbody>
      <tr>
        <th>Primary Phone Number</th>
        <td>{{ valueOrEmpty('personalInformation.phoneNumber') }} </td>
      </tr>
      <tr>
        <th>Email Address</th>
        <td>{{ valueOrEmpty('personalInformation.email') }} </td>
      </tr>
      <tr>
        <th>Birth Date</th>
        <td>{{ valueOrEmpty('personalInformation.birthDate') }} </td>
      </tr>
      <tr>
        <th>Social Insurance Number (SIN)</th>
        <td>{{ valueOrEmpty('personalInformation.sinPart1') }}-{{ valueOrEmpty('personalInformation.sinPart2') }}-{{ valueOrEmpty('personalInformation.sinPart3') }}</td>
      </tr>
      <tr>
        <th>Gender</th>
        <td>{{ valueOrEmpty('personalInformation.gender') }} </td>
      </tr>
      <tr>
        <th>Marital Status</th>
        <td>{{ valueOrEmpty('personalInformation.maritalStatus') }} </td>
      </tr>
      <tr>
        <th>Occupation</th>
        <td>{{ valueOrEmpty('personalInformation.occupation') }} </td>
      </tr>
    </tbody>
  </table>

  <h3>Primary Address</h3>
  <table class="table table-striped review-table">
    <tbody>
      <tr>
        <th>Mailing Address</th>
        <td>{{ valueOrEmpty('personalInformation.primaryAddressLine1') }} </td>
      </tr>
      <tr>
        <th>City</th>
        <td>{{ valueOrEmpty('personalInformation.primaryAddressCity') }} </td>
      </tr>
      <tr>
        <th>Province</th>
        <td>{{ valueOrEmpty('personalInformation.primaryAddressProvince') }} </td>
      </tr>
      <tr>
        <th>Postal Code</th>
        <td>{{ valueOrEmpty('personalInformation.primaryAddressPostalCode') }}</td>
      </tr>
    </tbody>
  </table>

  <h3>Alternate Address</h3>
  <table class="table table-striped review-table">
    <tbody>
      <tr>
        <th>Mailing Address</th>
        <td>{{ valueOrEmpty('personalInformation.alternateAddressLine1') }} </td>
      </tr>
      <tr>
        <th>City</th>
        <td>{{ valueOrEmpty('personalInformation.alternateAddressCity') }} </td>
      </tr>
      <tr>
        <th>Province</th>
        <td>{{ valueOrEmpty('personalInformation.alternateAddressProvince') }} </td>
      </tr>
      <tr>
        <th>Postal Code</th>
        <td>{{ valueOrEmpty('personalInformation.alternateAddressPostalCode') }}</td>
      </tr>
    </tbody>
  </table>

</section>

<section>
  <h2 class="blue-header">Crime Information</h2>
  <h3>Crime Occurence</h3>
  <table class="table table-striped review-table">
    <tbody>
      <tr>
        <th>Type of Crime</th>
        <td>{{ valueOrEmpty('crimeInformation.typeOfCrime') }} </td>
      </tr>
      <tr>
        <th>When did this crime occur?</th>
        <td>--</td>
      </tr>
      <tr>
        <th>Is this application being filed within one year of the date of the crime?</th>
        <td>{{ valueOrEmpty('crimeInformation.applicationFiledWithinOneYearFromCrime') }} </td>
      </tr>
      <tr>
        <th>Why you did not apply sooner?</th>
        <td>{{ valueOrEmpty('crimeInformation.whyDidYouNotApplySooner') }} </td>
      </tr>
      <tr>
        <th>Crime Location(s)</th>
        <td>{{ valueOrEmpty('crimeInformation.crimeLocations') }} </td>
      </tr>
      <tr>
        <th>Crime Detail(s)</th>
        <td>{{ valueOrEmpty('crimeInformation.crimeDetails') }} </td>
      </tr>
      <tr>
        <th>Associated Injuries</th>
        <td>{{ valueOrEmpty('crimeInformation.crimeInjuries') }} </td>
      </tr>
      <tr>
        <th>Additional Information</th>
        <td>-- output file list here --</td>
      </tr>
    </tbody>
  </table>

  <h3>Police Involvement</h3>
  <table class="table table-striped review-table">
    <tbody>
      <tr>
        <th>Was the report made to the police?</th>
        <td>{{ valueOrEmpty('crimeInformation.wasReportMadeToPolice') }} </td>
      </tr>
      <tr>
        <th>[NO CASE] Who was the report made to (e.g. doctor, social worker, counsellor, other)?</th>
        <td>{{ valueOrEmpty('crimeInformation.noPoliceReportIndentification') }} </td>
      </tr>
      <tr>
        <th>[YES CASE] To which police was the report made?</th>
        <td>{{ valueOrEmpty('crimeInformation.policeReportedWhichPoliceForce') }} </td>
      </tr>
      <tr>
        <th>Date of report</th>
        <td>--</td>
      </tr>
      <tr>
        <th>Police File Number</th>
        <td>{{ valueOrEmpty('crimeInformation.policeReportedPoliceFileNumber') }} </td>
      </tr>
      <tr>
        <th>Name of Investigating Officer</th>
        <td>{{ valueOrEmpty('crimeInformation.policeReportedInvestigatingOfficer') }} </td>
      </tr>
    </tbody>
  </table>

  <h3>Offender & Court Information</h3>
  <table class="table table-striped review-table">
    <tbody>
      <tr>
        <th>Offender Name</th>
        <td>{{ valueOrEmpty('crimeInformation.offenderFirstName') }} {{ valueOrEmpty('crimeInformation.offenderMiddleName') }} {{ valueOrEmpty('crimeInformation.offenderLastName') }} </td>
      </tr>
      <tr>
        <th>Relationship to offender</th>
        <td>{{ valueOrEmpty('crimeInformation.offenderRelationship') }} </td>
      </tr>
      <tr>
        <th>Has the alleged offender been charged?</th>
        <td>{{ valueOrEmpty('crimeInformation.offenderBeenCharged') }} </td>
      </tr>
      <tr>
        <th>Court File Number</th>
        <td>{{ valueOrEmpty('crimeInformation.courtFileNumber') }} </td>
      </tr>
      <tr>
        <th>Court Location</th>
        <td>{{ valueOrEmpty('crimeInformation.courtLocation') }} </td>
      </tr>
      <tr>
        <th>Have you sued the alleged offender(s)?</th>
        <td>{{ valueOrEmpty('crimeInformation.haveYouSuedOffender') }} </td>
      </tr>
      <tr>
        <th>Do you intend to sue the alleged offender?</th>
        <td>{{ valueOrEmpty('crimeInformation.intendToSueOffender') }} </td>
      </tr>
      <tr>
        <th>Court File Number</th>
        <td>{{ valueOrEmpty('crimeInformation.suedCourtFileNumber') }} </td>
      </tr>
      <tr>
        <th>Court Location</th>
        <td>{{ valueOrEmpty('crimeInformation.suedCourtLocation') }} </td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2 class="blue-header">Medical & Dental Information</h2>
  <h3>Coverage</h3>
  <table class="table table-striped review-table">
    <tbody>
      <tr>
        <th>Do you have medical services coverage?</th>
        <td>{{ valueOrEmpty('medicalInformation.doYouHaveMedicalServicesCoverage') }} </td>
      </tr>
      <tr>
        <th>Personal Health Number</th>
        <td>{{ valueOrEmpty('medicalInformation.personalHealthNumber') }} </td>
      </tr>
      <tr>
        <th>Do you have other health coverage?</th>
        <td>{{ valueOrEmpty('medicalInformation.doYouHaveOtherHealthCoverage') }} </td>
      </tr>
      <tr>
        <th>Name of provider</th>
        <td>{{ valueOrEmpty('medicalInformation.otherHealthCoverageProviderName') }} </td>
      </tr>
      <tr>
        <th>Extended Health Plan Number</th>
        <td>{{ valueOrEmpty('medicalInformation.otherHealthCoverageExtendedPlanNumber') }} </td>
      </tr>
    </tbody>
  </table>

  <h3>Treatment</h3>
  <table class="table table-striped review-table">
    <tbody>
      <tr>
        <th>Were you treated at a hospital?</th>
        <td>{{ valueOrEmpty('medicalInformation.weYouTreatedAtHospital') }} </td>
      </tr>
      <tr>
        <th>Name of hospital</th>
        <td>{{ valueOrEmpty('medicalInformation.treatedAtHospitalName') }} </td>
      </tr>
      <tr>
        <th>Date of treatment</th>
        <td>--</td>
      </tr>
      <tr>
        <th>Family doctor's name</th>
        <td>{{ valueOrEmpty('medicalInformation.familyDoctorName') }} </td>
      </tr>
      <tr>
        <th>Family doctor's Phone Number</th>
        <td>{{ valueOrEmpty('medicalInformation.familyDoctorPhoneNumber') }} </td>
      </tr>
      <tr>
        <th>Family doctor's Address</th>
        <td>{{ valueOrEmpty('medicalInformation.familyDoctorAddress') }} </td>
      </tr>
      <tr>
        <th>Other Treatments</th>
        <td>
          --
        </td>
      </tr>
    </tbody>
  </table>
</section>
