<div [formGroup]="filenameForm">
  <div class="form-row">
    <div class="col">
      <app-field label="File Name" [valid]=" !(fileName.invalid && (fileName.dirty||fileName.touched))">
        <input #fileName formControlName="fileName" id="fileName" class="form-control" name="fileName" type="text" contenteditable="false">
      </app-field>
    </div>
    <div class="col">
      <app-field label="Description" [valid]="true" errorMessage="Please enter line 2 of your mailing address." contenteditable="false">
        <input #fileDescription formControlName="fileDescription" id="fileDescription" class="form-control" name="fileDescription" type="text">
      </app-field>
    </div>
    <div class="col">
      <button (click)="removeItem(1)">REMOVE</button>
    </div>
  </div>
</div>
