<form #genericAddressForm="ngForm" (change)="validate(genericAddressForm.form.valid)">

  <h3>Mailing Address</h3>
  <div class="form-row">
    <div class="col">
      <!-- country option  -->
      <app-field label="Country" [required]="required" [valid]="country.valid && country.touched" errorMessage="Please select your country">
        <select name="country" [(ngModel)]="addressForm.country" (change)="changeCountry()" #country="ngModel" class="form-control" required>
          <option *ngFor="let key of objectKeys(countryList)" [ngValue]="key">
            {{ key }}
          </option>
        </select>
      </app-field>
    </div>
    <div class="col">
      <!-- THIS IS NOT OPTIMAL. Country list is not iterable malformed peice of sweet code. -->
      <app-field *ngIf="addressForm.country && (addressForm.country==='Canada' || addressForm.country==='United States of America')" [label]="getCountryProperty(addressForm.country,'areaType')" [required]="required" [valid]="province.valid && province.touched" errorMessage="Please select your {{getCountryProperty(addressForm.country,'areaType')|lowercase}}.">
        <select name="province" #province="ngModel" [(ngModel)]="addressForm.province" class="form-control" required>
          <option *ngFor="let province of getCountryProperty(addressForm.country,'areas')" [value]="province">
            {{ province }}
          </option>
        </select>
      </app-field>
      <app-field *ngIf="addressForm.country && !(addressForm.country==='Canada' || addressForm.country==='United States of America')" [label]="getCountryProperty(addressForm.country,'areaType')" [required]="false" errorMessage="Please enter your province.">
        <input id="province" class="form-control" name="province" #province="ngModel" type="text" [(ngModel)]="addressForm.province">
      </app-field>
      <app-field *ngIf="!addressForm.country" label="Province" [required]="required" [valid]="province.valid" errorMessage="Please select your province.">
        <select name="province" #province="ngModel" class="form-control" [ngModel]="addressForm.country" disabled>
          <option [value]="null">Choose a province</option>
        </select>
      </app-field>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <!-- mailing address 1 field  -->
      <app-field label="Mailing address line 1" [required]="false" errorMessage="Please include your mailing address">
        <input id="line1" class="form-control" name="line1" #line1="ngModel" type="text" [(ngModel)]="addressForm.line1">
      </app-field>
    </div>
    <div class="col">
      <!-- mailing address 2 field -->
      <app-field label="Mailing address line 2" [required]="false" errorMessage="Please include your mailing address">
        <input id="line2" class="form-control" name="line2" #line2="ngModel" type="text" [(ngModel)]="addressForm.line2">
      </app-field>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <!-- city -->
      <app-field label="City" [required]="false" errorMessage="Please include the city">
        <input id="city" class="form-control" name="city" #city="ngModel" type="text" [(ngModel)]="addressForm.city">
      </app-field>
    </div>
    <div class="col">
      <!-- postal -->
      <app-field *ngIf="!addressForm.country" label="Postal Code" [required]="false" errorMessage="Please include the postal code">
        <input id="postal" class="form-control" name="postal" type="text" disabled>
      </app-field>
      <app-field *ngIf="addressForm.country && addressForm.country!='Canada'" label="Postal/Zip Code" [required]="false" errorMessage="Please include the postal code">
        <input id="postal" class="form-control" name="postal" #postal="ngModel" type="text" [(ngModel)]="addressForm.postalCode">
      </app-field>
      <app-field *ngIf="addressForm.country && addressForm.country==='Canada'" label="Postal Code" [required]="required" errorMessage="Please include the postal code">
        <input id="postal" class="form-control" name="postal" #postal="ngModel" [pattern]="postalRegex" type="text" [(ngModel)]="addressForm.postalCode">
      </app-field>
    </div>
  </div>
</form>
<pre *ngIf="addressForm">
  Valid: {{genericAddressForm.form.valid}}
  {{addressForm|json}}
</pre>
