<div [formGroup]="form">
    <div class="page-header">
        <h1>Overview</h1>
    </div>

    <h2>Before you apply</h2>
    <h3>Who may use this application?</h3>

    <div *ngIf="formType === ApplicationType.Victim_Application">
        <p>This application package is designed for a <strong>Victim of violent crime</strong>. Under the <em>Crime Victim Assistance Act</em>, a victim is a person who is injured, physically or psychologically, as a result of an eligible criminal offence committed in British Columbia.</p>
        <p>If this definition does not apply to you, please see the application forms for <a routerLink="/witness-application">Witnesses</a> or <a routerLink="/ifm-application">Immediate Family Members</a>.</p>
        <p>If the victim is deceased, please see the application for <a routerLink="/ifm-application">Immediate Family Members</a>.</p>
    </div>
    <div *ngIf="formType === ApplicationType.IFM_Application">
        <p>This application package is designed for an <strong>Immediate Family Member</strong> of an injured or deceased victim of violent crime. Under the <em>Crime Victim Assistance Act</em>, an Immediate Family Member is a person who (at the time of the eligible offence that caused the injury or death of a victim) was a spouse, child, sibling, step sibling, half sibling, parent of the victim or, if financially dependent on the victim, a grandparent or grandchild of the victim.</p>
        <p>If this definition does not apply to you, please see the application forms for <a routerLink="/witness-application">Witnesses</a> or <a routerLink="/victim-application">Victims</a>.</p>
    </div>
    <div *ngIf="formType === ApplicationType.Witness_Application">
        <p>This application package is designed for a <strong>Witness</strong> of an injured or deceased victim of violent crime. Under the <em>Crime Victim Assistance Act</em>, a witness is a person who is not related to the victim but has a strong emotional attachment to the victim and witnesses in close proximity an eligible offence that causes a life-threatening injury or death to the victim or witnesses the immediate aftermath of an eligible offence that caused the death of the victim.</p>
        <p>If this definition does not apply to you, please see the application forms for <a routerLink="/ifm-application">Immediate Family Members</a> or <a routerLink="/victim-application">Victims</a>.</p>
    </div>

    <h3>What types of benefits does the Crime Victim's Assistance Program provide?</h3>

    <p>Benefits that may be available to Victims of violent crime include:</p>
    <ul class="list">
        <ng-container *ngIf="formType === ApplicationType.Victim_Application">
            <li>medical and dental expenses</li>
            <li>prescription drug expenses</li>
            <li>counselling</li>
            <li>lost employment income (reimbursed at minimum wage)</li>
            <li>repair or replacement costs of damaged or destroyed property that a person was wearing at the time of the crime (e.g., eyeglasses, clothing)</li>
            <li>protective measures (e.g., moving expenses)</li>
            <li>disability benefits, services or equipment</li>
        </ng-container>

        <ng-container *ngIf="formType === ApplicationType.IFM_Application">
            <li>counselling</li>
            <li>prescription drug expenses</li>
            <li>transportation and related expenses</li>
            <li>funeral expenses</li>
            <li>bereavement leave</li>
            <li>income support</li>

            <li>loss of parental guidance</li>
        </ng-container>

        <ng-container *ngIf="formType === ApplicationType.Witness_Application">
            <li>counselling</li>
            <li>prescription drug expenses</li>
            <li>transportation and related expenses</li>
            <li>crime scene cleaning</li>
        </ng-container>
    </ul>

    <h3>The Crime Victim Assistance Program will NOT cover:</h3>
    <ul class="list">
        <li>injuries or loss sustained from motor vehicle accidents</li>
        <li>injuries or loss sustained at work, and which are covered by WorkSafeBC</li>
        <li>claims for pain and suffering</li>
        <li>lost or stolen property</li>
        <li>injuries sustained from an offence occurring outside of B.C. or prior to July 1, 1972</li>
    </ul>

    <div class="attention">
        <h3>Note</h3>
        <p>
            The Crime Victim Assistance Program will only provide benefits that are not covered by other programs<br />
            (e.g., EI, ICBC, extended health coverage, personal insurance).
        </p>
        <p>View full <a [routerLink]="" (click)="showSummaryOfBenefits()">summary of benefits</a></p>
    </div>

    <h2>Instructions</h2>

    <h3>Filling out the application</h3>
    <p>The application form is also available in PDF format at <a href="https://www.gov.bc.ca/crimevictimassistance" target="_blank">www.gov.bc.ca/crimevictimassistance</a>. To download the appropriate viewer, visit <a href="http://get.adobe.com/reader" target="_blank">http://get.adobe.com/reader</a>.</p>
    <p>Print versions of the application form are also available from the Crime Victim Assistance Program or a local victim service program.</p>
    <p>A local victim service program can help you complete this application. To locate a program near you, call VictimLink BC toll-free at <strong class="phone-number">1-800-563-0808</strong>.</p>

    <h3>Be complete and accurate</h3>
    <p>Please ensure that all form fields that you fill in are done so accurately. Any information that is inaccurate will affect the processing of your claim.</p>

    <h3>What you need to have:</h3>
    <p>In order to complete this form efficiently please make sure you have the following on hand:</p>
    <ul class="list">
        <li>All information pertaining to the incident</li>
        <li>Your own health information (PHN)</li>
        <li>Police Officers contact (If Known)</li>
        <li>Employment information (if requesting benefits for lost employment income)</li>
        <li>Info about the deceased (if it was a fatality)</li>
        <li>What benefits you are claiming (View <a [routerLink]="" (click)="showSummaryOfBenefits()">Summary of Benefits</a>)</li>
        <li>Victim Service Worker's information (if available)</li>
        <li>Court File Number (if known)</li>
        <li>Date of crime</li>
        <li>Date reported to police</li>
        <li>Date of hospital visit (if applicable)</li>
        <li>Name of hospital (if applicable)</li>
        <li>Date of any health care professional (ie., doctor, psychiatrist) visit</li>
        <li>Name of any health care professional (if applicable)</li>
    </ul>

    <div class="attention">
        <h3>Time needed to complete this application</h3>
        <p>This application will take approximately 45 minutes to complete. You will not be able to save and come back to your application, so please be sure that you have enough time to finish it in one session.</p>
    </div>

    <p>If your address or telephone number changes after submitting this application, please inform the Crime Victim Assistance Program by calling <strong class="phone-number">1-866-660-3888</strong>.</p>
    <p>For additional questions, please contact the Crime Victim Assistance Program at <strong>604-660-3888</strong> or toll free in B.C. at <strong class="phone-number">1-866-660-3888</strong>.</p>
    <p>For more information, see the Government of British Columbia website at <a href="https://www.gov.bc.ca/crimevictimassistance" target="_blank">www.gov.bc.ca/crimevictimassistance</a> or query &ldquo;cvap bc&rdquo; using your internet search engine.</p>
    <br /><br />

    <section>
        <app-field [valid]="isFieldValid('introduction.understoodInformation')" errorMessage="Indicate that you have read and understood all of the above information">
            <label class="inline-label">
                <input type="checkbox" style="margin-right: 10px;" formControlName="understoodInformation" [value]="true">
                <span>I have read and understood all the above information. <span class="error-states ng-star-inserted">*</span></span>
            </label>
        </app-field>
    </section>
</div>