<p>This section provides information regarding employment information. This information is necessary if you are requesting benefits for lost employment income.</p>
<section>
  <form #eiInfoForm="ngForm" (change)="validate(eiInfoForm.form.valid)">
    <h2 class="blue-header">Income Loss Information</h2>
    <div class="form-group">
      <app-field label="Were you employed when the crime occured?" [valid]="employedAtCrimeTime" [required]="true" errorMessage="Please select an option">
        <label for="employedArCrimeTimeYes" class="inline-label">
          <input #employedAtCrimeTime type="radio" [(ngModel)]="eiInfo.wereYouEmployedAtTimeOfCrime" [value]='100000001' name="employedAtCrimeTimeYes" id="employedAtCrimeTimeYes" required>
          <span>Yes</span>
        </label>
        <label for="employedAtCrimeTimeNo" class="inline-label">
          <input #employedAtCrimeTime type="radio" [(ngModel)]="eiInfo.wereYouEmployedAtTimeOfCrime" [value]='100000000' name="employedAtCrimeTimeNo" id="employedAtCrimeTimeNo" required>
          <span>No</span>
        </label>
      </app-field>
    </div>
    <!-- If you have answered yes to the first question then you must answer -->
    <div class="form-group" *ngIf="eiInfo.wereYouEmployedAtTimeOfCrime===100000001">
      <app-field label="Were you at work at the time of the incident?" [valid]="atWorkAtCrimeTime" [required]="true" errorMessage="Please select an option">
        <label for="atWorkAtCrimeTimeYes" class="inline-label">
          <input #atWorkAtCrimeTime type="radio" [(ngModel)]="eiInfo.wereYouAtWorkAtTimeOfIncident" [value]='100000001' name="atWorkAtCrimeTimeYes" id="atWorkAtCrimeTimeYes" required>
          <span>Yes</span>
        </label>
        <label for="atWorkAtCrimeTimeNo" class="inline-label">
          <input #atWorkAtCrimeTime type="radio" [(ngModel)]="eiInfo.wereYouAtWorkAtTimeOfIncident" [value]='100000000' name="atWorkAtCrimeTimeNo" id="atWorkAtCrimeTimeNo" required>
          <span>No</span>
        </label>
      </app-field>
    </div>
    <div class="form-group">
      <app-field label="As a result of any crime-related injuries, did you miss work?" [valid]="missedWork" [required]="true" errorMessage="Please select an option">
        <label for="missedWorkYes" class="inline-label">
          <input #missedWork type="radio" [(ngModel)]="eiInfo.didYouMissWorkDueToCrime" [value]='100000001' name="missedWorkYes" id="missedWorkYes" required>
          <span>Yes</span>
        </label>
        <label for="missedWorkNo" class="inline-label">
          <input #missedWork type="radio" [(ngModel)]="eiInfo.didYouMissWorkDueToCrime" [value]='100000000' name="missedWorkNo" id="missedWorkNo" required>
          <span>No</span>
        </label>
      </app-field>
    </div>
    <!-- span because hide/show spans multiple form groups -->
    <span *ngIf="eiInfo.didYouMissWorkDueToCrime===100000001">
      <div class="form-group">
        <section>
          <app-field label="Please provide days of work missed" [valid]="eiInfo.daysWorkMissedStart && eiInfo.daysWorkMissedEnd" [required]="true" errorMessage="Please select an option">
            <input type="text" name="daysWorkMissedStart" class="form-control date-picker" [(ngModel)]="eiInfo.daysWorkMissedStart" placeholder="yyyy-mm-dd" [matDatepicker]="daysWorkMissedStartPicker" (focus)="daysWorkMissedStartPicker.open()" (click)="daysWorkMissedStartPicker.open()" readonly required>
            <mat-datepicker #daysWorkMissedStartPicker></mat-datepicker>
            <span> - </span>
            <input type="text" name="daysWorkMissedEnd" class="form-control date-picker" [(ngModel)]="eiInfo.daysWorkMissedEnd" placeholder="yyyy-mm-dd" [matDatepicker]="daysWorkMissedEndPicker" (focus)="daysWorkMissedEndPicker.open()" (click)="daysWorkMissedEndPicker.open()" readonly required>
            <mat-datepicker #daysWorkMissedEndPicker></mat-datepicker>
          </app-field>
        </section>
      </div>
      <div class="form-group">
        <app-field label="As a result of any crime-related injuries, did you lose wages?" [tooltipReference]="lostWagesTemplate" [valid]="eiInfo.didYouLoseWages" [required]="true" errorMessage="Please select an option">
          <label for="lostWagesYes" class="inline-label">
            <input type="radio" [(ngModel)]="eiInfo.didYouLoseWages" [value]='100000001' name="lostWagesYes" id="lostWagesYes" required>
            <span>Yes</span>
          </label>
          <label for="lostWagesNo" class="inline-label">
            <input type="radio" [(ngModel)]="eiInfo.didYouLoseWages" [value]='100000000' name="lostWagesNo" id="lostWagesNo" required>
            <span>No</span>
          </label>
        </app-field>
        <ng-template #lostWagesTemplate>
          <p><strong>Lost wages or income</strong></p>
          <p>If you are claiming for lost wages or income, we will need to verify your employment</p>
        </ng-template>
      </div>
    </span>
    <!-- If the employee lost wages we need to collect the information in the employee information area -->
    <span *ngIf="eiInfo.didYouLoseWages===100000001">
      <h2 class="blue-header">Employer Information</h2>
      <p>If you are claiming for lost wages or income, we will need to verify your employment</p>
      <div class="form-group">
        <app-field label="Are you self employed?" [valid]="eiInfo.areYouSelfEmployed" [required]="true" errorMessage="Please select an option">
          <label for="selfEmployedYes" class="inline-label">
            <input #selfEmployed type="radio" [(ngModel)]="eiInfo.areYouSelfEmployed" [value]='100000001' name="selfEmployedYes" id="selfEmployedYes" required>
            <span>Yes</span>
          </label>
          <label for="selfEmployedNo" class="inline-label">
            <input #selfEmployed type="radio" [(ngModel)]="eiInfo.areYouSelfEmployed" [value]='100000000' name="selfEmployedNo" id="selfEmployedNo" required>
            <span>No</span>
          </label>
        </app-field>
      </div>

      <span *ngFor="let employer of eiInfo.employers; let i = index">
        <h2>{{employer.employerName|titlecase}}</h2>
        <h3>Name &amp; Phone Number</h3>
        <div class="form-row">
          <div class="col">
            <app-field label="Name of Company / Organization" [valid]="employer.employerName" [required]="true" errorMessage="Please include an employer name">
              <input id="{{'employerName_'+i.toString()}}" class="form-control" name="{{'employerName_'+i.toString()}}" type="text" [(ngModel)]="employer.employerName" required>
            </app-field>
          </div>
          <div class="col">
            <app-field label="Phone Number of Contact Person" [valid]="employer.employerPhoneNumber" [required]="true" errorMessage="Please include an employer phone number">
              <input id="{{'employerPhoneNumber_'+i.toString()}}" class="form-control" name="{{'employerPhoneNumber_'+i.toString()}}" type="text" [(ngModel)]="employer.employerPhoneNumber" required>
            </app-field>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <app-field label="Employer First Name" [required]="false" errorMessage="Please include your employer's given name">
              <input id="{{'employerFirstName_'+i.toString()}}" class="form-control" name="{{'employerFirstName_'+i.toString()}}" type="text" [(ngModel)]="employer.employerFirstName">
            </app-field>
          </div>
          <div class="col">
            <app-field label="Employer Last Name" [required]="false" errorMessage="Please include your employer's last name">
              <input id="{{'employerLastName_'+i.toString()}}" class="form-control" name="{{'employerLastName_'+i.toString()}}" type="text" [(ngModel)]="employer.employerLastName">
            </app-field>
          </div>
        </div>
        <h3>Mailing Address</h3>
        <div class="form-row">
          <div class="col">
            <!-- country option  -->
            <app-field label="Country" [required]="true" [valid]="employer.employerAddress?.country" errorMessage="Please select your country">
              <select name="{{'employerCountry_'+i.toString()}}" [(ngModel)]="employer.employerAddress.country" class="form-control">
                <option value="">Choose a country</option>
                <option *ngFor="let key of objectKeys(countryList)" [ngValue]="key">
                  {{ key }}
                </option>
              </select>
            </app-field>
          </div>
          <div class="col">
            <!-- THIS IS NOT OPTIMAL. Country list is not iterable malformed peice of sweet code. -->
            <app-field *ngIf="employer.employerAddress.country" [label]="getCountryProperty(employer.employerAddress.country,'areaType')" [required]="true" [valid]="employer.employerAddress?.province" errorMessage="Please select your {{getCountryProperty(employer.employerAddress.country,'areaType')|lowercase}}.">
              <select name="{{'employerProvince_'+i.toString()}}" [(ngModel)]="employer.employerAddress.province" class="form-control">
                <option [value]="null">Choose a {{getCountryProperty(employer.employerAddress.country,'areaType')|lowercase}}</option>
                <option *ngFor="let province of getCountryProperty(employer.employerAddress.country,'areas')" [value]="province">
                  {{ province }}
                </option>
              </select>
            </app-field>
            <app-field *ngIf="!employer.employerAddress.country" label="Province" [required]="true" [valid]="false" errorMessage="Please select your province.">
              <select name="{{'employerProvince_'+i.toString()}}" class="form-control" [ngModel]="employer.employerAddress.country" disabled>
                <option [value]="null">Choose a province</option>
              </select>
            </app-field>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <!-- mailing address 1 field  -->
            <app-field label="Mailing address line 1" [required]="false" errorMessage="Please include your mailing address">
              <input id="{{'employerLine1_'+i.toString()}}" class="form-control" name="{{'employerLine1_'+i.toString()}}" type="text" [(ngModel)]="employer.employerAddress.line1">
            </app-field>
          </div>
          <div class="col">
            <!-- mailing address 2 field -->
            <app-field label="Mailing address line 2" [required]="false" errorMessage="Please include your mailing address">
              <input id="{{'employerLine2_'+i.toString()}}" class="form-control" name="{{'employerLine2_'+i.toString()}}" type="text" [(ngModel)]="employer.employerAddress.line2">
            </app-field>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <!-- city -->
            <app-field label="City" [required]="false" errorMessage="Please include the city">
              <input id="{{'employerCity_'+i.toString()}}" class="form-control" name="{{'employerCity_'+i.toString()}}" type="text" [(ngModel)]="employer.employerAddress.city">
            </app-field>
          </div>
          <div class="col">
            <!-- postal -->
            <app-field *ngIf="!employer.employerAddress.country" label="Postal Code" [required]="false" errorMessage="Please include the postal code">
              <input id="{{'employerPostal_'+i.toString()}}" class="form-control" name="{{'employerPostal_'+i.toString()}}" type="text" disabled>
            </app-field>
            <app-field *ngIf="employer.employerAddress.country" label="Postal Code" [required]="false" errorMessage="Please include the postal code">
              <input id="{{'employerPostal_'+i.toString()}}" class="form-control" name="{{'employerPostal_'+i.toString()}}" type="text" [(ngModel)]="employer.employerAddress.postalCode">
            </app-field>
          </div>
        </div>
        <div class="form-group">
          <app-field label="If you are requesting benefits for lost wages, may we contact your employer?" [valid]="employer.contactable" [required]="true" errorMessage="Please select an option">
            <label for="{{'employerContactableYes_'+i.toString()}}" class="inline-label">
              <input #selfEmployed type="radio" [(ngModel)]="employer.contactable" [value]='100000001' name="{{'employerContactableYes_'+i.toString()}}" id="selfEmployedYes" required>
              <span>Yes</span>
            </label>
            <label for="{{'employerContactableNo_'+i.toString()}}" class="inline-label">
              <input #selfEmployed type="radio" [(ngModel)]="employer.contactable" [value]='100000000' name="{{'employerContactableNo_'+i.toString()}}" id="selfEmployedNo" required>
              <span>No</span>
            </label>
          </app-field>
        </div>
        <!-- Add employer button -->
        <!-- May we contact your employer radio button -->
        <pre>{{employer|json}}</pre>
      </span>
    </span>
  </form>
</section>
Valid:{{eiInfoForm.form.valid}}
<!-- <p>This section provides information regarding employment information. This information is necessary if you are requesting benefits for lost employment income.</p>
<section>
  <h2 class="blue-header">Income Loss Information</h2>
  <app-field label="Were you employed when the crime occured?" [valid]="isFieldValid('employmentIncomeInformation.wereYouEmployedAtTimeOfCrime')" [required]="true" errorMessage="Please select an option">
    <label class="inline-label">
      <input type="radio" [value]="100000001" name="wereYouEmployedAtTimeOfCrime" formControlName="wereYouEmployedAtTimeOfCrime">
      <span>Yes</span>
    </label>
    <label class="inline-label">
      <input type="radio" [value]="100000000" name="wereYouEmployedAtTimeOfCrime" formControlName="wereYouEmployedAtTimeOfCrime">
      <span>No</span>
    </label>
  </app-field>
  <section *ngIf="form.get('employmentIncomeInformation.wereYouEmployedAtTimeOfCrime').value === 100000001 || form.get('employmentIncomeInformation.wereYouEmployedAtTimeOfCrime').value === 100000002">
    <app-field label="Were you at work at the time of the incident?" [valid]="isFieldValid('employmentIncomeInformation.wereYouAtWorkAtTimeOfIncident')" [required]="true" errorMessage="Please select an option">
      <label class="inline-label">
        <input type="radio" [value]="100000001" name="wereYouAtWorkAtTimeOfIncident" formControlName="wereYouAtWorkAtTimeOfIncident">
        <span>Yes</span>
      </label>
      <label class="inline-label">
        <input type="radio" [value]="100000000" name="wereYouAtWorkAtTimeOfIncident" formControlName="wereYouAtWorkAtTimeOfIncident">
        <span>No</span>
      </label>
    </app-field>
  </section>
  <section *ngIf="form.get('employmentIncomeInformation.wereYouAtWorkAtTimeOfIncident').value === true">
    <app-field label="Have you applied for Worker's Compensation Benefits?" [valid]="isFieldValid('employmentIncomeInformation.haveYouAppliedForWorkersCompensation')" [required]="true" errorMessage="Please select an option">
      <label class="inline-label">
        <input type="radio" [value]="100000001" name="haveYouAppliedForWorkersCompensation" formControlName="haveYouAppliedForWorkersCompensation">
        <span>Yes</span>
      </label>
      <label class="inline-label">
        <input type="radio" [value]="100000000" name="haveYouAppliedForWorkersCompensation" formControlName="haveYouAppliedForWorkersCompensation">
        <span>No</span>
      </label>
    </app-field>
    <section *ngIf="form.get('employmentIncomeInformation.haveYouAppliedForWorkersCompensation').value === true">
      <app-field label="What is your Worker's Compensation Benefits claim number?">
        <input class="form-control standard" type="text" formControlName="workersCompensationClaimNumber">
      </app-field>
    </section>
  </section>
  <app-field label="As a result of any crime-related injuries, did you miss work?" [valid]="isFieldValid('employmentIncomeInformation.didYouMissWorkDueToCrime')" [required]="true" errorMessage="Please select an option">
    <label class="inline-label">
      <input type="radio" [value]="100000001" name="didYouMissWorkDueToCrime" formControlName="didYouMissWorkDueToCrime">
      <span>Yes</span>
    </label>
    <label class="inline-label">
      <input type="radio" [value]="100000000" name="didYouMissWorkDueToCrime" formControlName="didYouMissWorkDueToCrime">
      <span>No</span>
    </label>
  </app-field>
  <section *ngIf="form.get('employmentIncomeInformation.didYouMissWorkDueToCrime').value === 100000001">
    <app-field label="Please provide days of work missed" [valid]="isFieldValid('employmentIncomeInformation.daysWorkMissedStart')" [required]="true" errorMessage="Please select an option">
      <input type="text" class="form-control date-picker" formControlName="daysWorkMissedStart" placeholder="yyyy-mm-dd" [matDatepicker]="daysWorkMissedStartPicker" (focus)="daysWorkMissedStartPicker.open()" (click)="daysWorkMissedStartPicker.open()" readonly>
      <mat-datepicker #daysWorkMissedStartPicker></mat-datepicker>
      <span> - </span>
      <input type="text" class="form-control date-picker" formControlName="daysWorkMissedEnd" placeholder="yyyy-mm-dd" [matDatepicker]="daysWorkMissedEndPicker" (focus)="daysWorkMissedEndPicker.open()" (click)="daysWorkMissedEndPicker.open()" readonly>
      <mat-datepicker #daysWorkMissedEndPicker></mat-datepicker>
    </app-field>
    <app-field label="As a result of any crime-related injuries, did you lose wages?" [tooltipReference]="lostWagesTemplate" [valid]="isFieldValid('employmentIncomeInformation.didYouLoseWages')" [required]="true" errorMessage="Please select an option">
      <label class="inline-label">
        <input type="radio" [value]="100000001" name="didYouLoseWages" formControlName="didYouLoseWages">
        <span>Yes</span>
      </label>
      <label class="inline-label">
        <input type="radio" [value]="100000000" name="didYouLoseWages" formControlName="didYouLoseWages">
        <span>No</span>
      </label>
    </app-field>
    <ng-template #lostWagesTemplate>
      <p><strong>Lost wages or income</strong></p>
      <p>If you are claiming for lost wages or income, we will need to verify your employment</p>
    </ng-template>
  </section>
</section>
<section *ngIf="form.get('employmentIncomeInformation.didYouLoseWages').value === 100000001">
  <h2 class="blue-header">Employer Information</h2>
  <p>If you are claiming for lost wages or income, we will need to verify your employment</p>
  <br />

  <app-field label="Are you self employed?" [valid]="isFieldValid('employmentIncomeInformation.areYouSelfEmployed')" [required]="true" errorMessage="Please select an option">
    <label class="inline-label">
      <input type="radio" [value]="100000001" name="areYouSelfEmployed" formControlName="areYouSelfEmployed">
      <span>Yes</span>
    </label>
    <label class="inline-label">
      <input type="radio" [value]="100000000" name="areYouSelfEmployed" formControlName="areYouSelfEmployed">
      <span>No</span>
    </label>
  </app-field>

  <div class="employers" formArrayName="employers" *ngFor="let item of form.get('employmentIncomeInformation.employers').controls; let i = index;">
    <div [formGroupName]="i" class="employer">
      <a href="javascript:void(0);" (click)="removeEmployer(i)" class="float-right" *ngIf="showRemoveEmployer">
        <i class="fas fa-trash-alt"></i> Delete Employer
      </a>

      <h3>Name & Phone Number</h3>
      <div class="row">
        <div class="col-4">
          <app-field label="Name of Company / Organization" [required]="true" [valid]="isArrayFieldValid('employmentIncomeInformation.employers', 'employerName', i)" errorMessage="Please enter a company name">
            <input type="text" class="form-control" formControlName="employerName">
          </app-field>
        </div>
        <div class="col-4">
          <app-field label="Phone Number of Contact Person" [required]="true" [valid]="isArrayFieldValid('employmentIncomeInformation.employers', 'employerPhoneNumber', i)" errorMessage="Please enter a contact phone number">
            <input type="text" class="form-control" formControlName="employerPhoneNumber">
          </app-field>
        </div>
        <div class="col-4">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <app-field label="Employer First Name">
            <input type="text" class="form-control" formControlName="employerFirstName">
          </app-field>
        </div>
        <div class="col-4">
          <app-field label="Employer Last name">
            <input type="text" class="form-control" formControlName="employerLastName">
          </app-field>
        </div>
        <div class="col-4">
        </div>
      </div>

      <h3>Mailing Address</h3>
      <app-address [group]="item.get('employerAddress')" [showChildrenAsRequired]="false"></app-address>
    </div>
  </div>
  <a href="javascript:void(0);" class="btn btn-secondary" (click)="addEmployer()" *ngIf="showAddEmployer">Add Employer</a>
  <br /><br />

  <app-field label="If you are requesting benefits for lost wages, may we contact your employer?" [valid]="isFieldValid('employmentIncomeInformation.mayContactEmployer')" [required]="true" errorMessage="Please select an option">
    <label class="inline-label">
      <input type="radio" [value]="100000001" name="mayContactEmployer" formControlName="mayContactEmployer">
      <span>Yes</span>
    </label>
    <label class="inline-label">
      <input type="radio" [value]="100000000" name="mayContactEmployer" formControlName="mayContactEmployer">
      <span>No</span>
    </label>
  </app-field>
</section> -->
