<div class="row">
  <div class="col">
    File upload<br>
    <!-- This ugly button gets hidden and a fake click is used instead. -->
    <input #files id="files" type="file" style="display: none" (change)="onFilesAdded($event.target.files)" multiple>
    <button type="button" mat-raised-button (click)="fakeBrowseClick()">Browse...</button>
  </div>
</div>
<div class="row mt-2">
  <div class="col">
    <mat-chip-list>
      <mat-chip *ngFor="let fileName of fileCollection.fileName; let i=index" [selectable]="true"
                [removable]="true" (removed)="removeItem(i)" (click)="removeItem(i)">
        {{fileName}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <!--This is not working so need to figure out how to get description to go with file upload-->
      <!--<input #tempInputBox title="Description" formControlName="fileDescription" id="fileDescription" class="form-control" name="fileDescription" type="text">-->
      <!--<app-filename-block #filenameBlock *ngFor="let fileName of fileCollection.fileName; let i=index" formControlName="filenameBlock"></app-filename-block>-->
    </mat-chip-list>
  </div>
</div>
<!-- TODO: Remove this debugging. -->
<!-- <pre>
  This many files attached: {{fileCollection.fileData.length}}
  {{fileCollection.fileName|json}}
</pre> -->
