<div class="form-wrapper" style="position: relative;">
  <div [ngBusy]="[busy, busy2]"></div>
  <div class="row" [formGroup]="form">
    <div class="col-lg-3 col-sm-12 application-gutter">
      <section class="application-nav">
        <h3>Immediate Family Member Application</h3>
        <mat-vertical-stepper [linear]="true" (selectionChange)="gotoPage($event)" #stepper>
          <ng-template matStepperIcon="edit">
            <mat-icon>done</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="number">
          </ng-template>
          <mat-step label="Overview"></mat-step>
          <mat-step label="Personal Information & Addresses"></mat-step>
          <mat-step label="Victim Information"></mat-step>
          <mat-step label="Crime Information"></mat-step>
          <mat-step label="Medical & Dental Information"></mat-step>
          <mat-step label="Expense & Benefits"></mat-step>
          <mat-step label="Application on Behalf of Immediate Family Member"></mat-step>
          <mat-step label="Declaration"></mat-step>
          <mat-step label="Authorization"></mat-step>
          <mat-step label="Review & Submit"></mat-step>
        </mat-vertical-stepper>
      </section>

      <section class="submit-container learn-benefits">
        <div class="submit-content">
          <h2>Want to learn more about your Benefits?</h2>
          <p>Click below to open a new window and view the full summary of benefits.</p>
          <p>You will not lose your progress on this application.</p>
          <p><button class="btn btn-secondary btn-wrappable" (click)="showSummaryOfBenefits()">View Summary of Benefits</button></p>
        </div>
      </section>
    </div>

    <div class="col-lg-7 col-sm-12">
      <form [formGroup]="form">
        <div *ngIf="dataLoaded || true">
          <div formGroupName="introduction" *ngIf="this.currentFormStep == 0">
            <div class="page-header">
              <h1>Overview</h1>
            </div>

            <h2>Before you apply</h2>
            <h3>Who may use this application?</h3>

            <p>This application package is designed for an <strong>Immediate Family Member</strong> of an injured or deceased victim of violent crime. Under the <em>Crime Victim Assistance Act</em>, an Immediate Family Member is a person who (at the time of the eligible offence that caused the injury or death of a victim) was a spouse, child, sibling, step sibling, half sibling, parent of the victim or, if financially dependent on the victim, a grandparent or grandchild of the victim.</p>
            <p>If this definition does not apply to you, please see the application forms for <a routerLink="/witness-application">Witnesses</a> or <a routerLink="/victim-application">Victims</a>.</p>

            <h3>What types of benefits does the Crime Victim's Assistance Program provide?</h3>

            <p>Benefits that may be available to Immediate Family Members include:</p>
            <ul class="list">
              <li>counselling</li>
              <li>prescription drug expenses</li>
              <li>transportation and related expenses</li>
              <li>funeral expenses</li>
              <li>bereavement leave</li>
              <li>income support</li>
              <li>crime scene cleaning</li>
              <li>loss of parental guidance</li>
            </ul>

            <h3>The Crime Victim Assistance Program will NOT cover:</h3>
            <ul class="list">
              <li>injuries or loss sustained from motor vehicle accidents</li>
              <li>injuries or loss sustained at work, and which are covered by WorkSafeBC</li>
              <li>claims for pain and suffering</li>
              <li>lost or stolen property</li>
              <li>injuries sustained from an offence occurring outside of B.C. or prior to July 1, 1972</li>
            </ul>

            <div class="attention">
              <h3>Note</h3>
              <p>
                The Crime Victim Assistance Program will only provide benefits that are not covered by other programs<br />
                (e.g., EI, ICBC, extended health coverage, personal insurance).
              </p>
              <p><a [routerLink]="" (click)="showSummaryOfBenefits()">View full summary of benefits</a></p>
            </div>

            <h2>Instructions</h2>

            <h3>Filling out the application</h3>
            <p>The application form is also available in PDF format at <a href="https://www.gov.bc.ca/crimevictimassistance" target="_blank">www.gov.bc.ca/crimevictimassistance</a>. To download the appropriate viewer, visit <a href="http://get.adobe.com/reader" target="_blank">http://get.adobe.com/reader</a>.</p>
            <p>Print versions of the application form are also available from the Crime Victim Assistance Program or a local victim service program.</p>
            <p>A local victim service program can help you complete this application. To locate a program near you, call VictimLink BC toll-free at <strong class="phone-number">1-800-563-0808</strong>.</p>

            <h3>Be complete and accurate</h3>
            <p>Please ensure that all form fields that you fill in are done so accurately. Any information that is inaccurate will affect the processing of your claim.</p>

            <h3>What you need to have:</h3>
            <p>In order to complete this form efficiently please make sure you have the following on hand:</p>
            <ul class="list">
              <li>All information pertaining to the incident</li>
              <li>Your own health information (PHN)</li>
              <li>Police Officers contact (If Known)</li>
              <li>Employment information (if requesting benefits for lost employment income)</li>
              <li>Info about the deceased (if it was a fatality)</li>
              <li>What benefits you are claiming (View <a [routerLink]="" (click)="showSummaryOfBenefits()">Summary of Benefits</a>)</li>
              <li>Victim Service Worker's information (if available)</li>
              <li>Court File Number (if known)</li>
              <li>Date of crime</li>
              <li>Date reported to police</li>
              <li>Date of hospital visit (if applicable)</li>
              <li>Name of hospital (if applicable)</li>
              <li>Date of any health care professional (ie., doctor, psychiatrist) visit</li>
              <li>Name of any health care professional (if applicable)</li>
            </ul>

            <div class="attention">
              <h3>Time needed to complete this application</h3>
              <p>This application will take approximately 45 minutes to complete. You will not be able to save and come back to your application, so please be sure that you have enough time to finish it in one session.</p>
            </div>

            <p>If your address or telephone number changes after submitting this application, please inform the Crime Victim Assistance Program by calling <strong class="phone-number">1-866-660-3888</strong>.</p>
            <p>For additional questions, please contact the Crime Victim Assistance Program at <strong>604-660-3888</strong> or toll free in B.C. at <strong class="phone-number">1-866-660-3888</strong>.</p>
            <p>For more information, see the Government of British Columbia website at <a href="https://www.gov.bc.ca/crimevictimassistance" target="_blank">www.gov.bc.ca/crimevictimassistance</a> or query &ldquo;cvap bc&rdquo; using your internet search engine.</p>
            <br /><br />

            <section>
              <app-field [valid]="isFieldValid('introduction.understoodInformation')" errorMessage="Indicate that you have read and understood all of the above information">
                <label class="inline-label">
                  <input type="checkbox" style="margin-right: 10px;" formControlName="understoodInformation" [value]="true">
                  <span>I have read and understood all the above information. <span class="error-states ng-star-inserted">*</span></span>
                </label>
              </app-field>
            </section>
          </div>

          <app-personal-information [formGroup]="form" [formType]="ApplicationType.IFM_Application" formGroupName="personalInformation" *ngIf="this.currentFormStep == 1"></app-personal-information>

          <app-victim-information [formGroup]="form" [formType]="ApplicationType.IFM_Application" formGroupName="victimInformation" *ngIf="this.currentFormStep == 2"></app-victim-information>

          <app-crime-information [formGroup]="form" [formType]="ApplicationType.IFM_Application" formGroupName="crimeInformation" *ngIf="this.currentFormStep == 3"></app-crime-information>

          <app-medical-information [formGroup]="form" [formType]="ApplicationType.IFM_Application" formGroupName="medicalInformation" *ngIf="this.currentFormStep == 4"></app-medical-information>

          <div formGroupName="expenseInformation" *ngIf="this.currentFormStep == 5">
            <div class="page-header">
              <h1>Expense & Benefits Information</h1>
            </div>
            <p>This section provides information regarding any expenses or losses you are claiming as a result of the crime. Please keep receipts for all expenses you are claiming. The program will require you to submit <strong>original receipts</strong>.</p>
            <section>
              <h2 class="blue-header">Benefits Available Through CVAP</h2>
              <p>
                For a list of benefits available through CVAP, please view the <a [routerLink]="" (click)="showSummaryOfBenefits()">Summary of Benefits</a>.<br />
                <strong>Original reciepts</strong> are required for expenses not covered by your extended health or other insurance plan
              </p>
              <br />

              <p>Please check all that apply:</p>
              <div class="radio-list">
                <app-field>
                  <label>
                    <input type="checkbox" [value]="true" name="haveCounsellingExpenses" formControlName="haveCounsellingExpenses">
                    Counselling <app-tool-tip [trigger]="benefitsCounselling"></app-tool-tip>
                  </label>
                </app-field>
                <app-field>
                  <label>
                    <input type="checkbox" [value]="true" name="haveCounsellingTransportation" formControlName="haveCounsellingTransportation">
                    Transportation to obtain counselling <app-tool-tip [trigger]="benefitsCounsellingTransportation"></app-tool-tip>
                  </label>
                </app-field>
                <app-field>
                  <label>
                    <input type="checkbox" [value]="true" name="havePrescriptionDrugExpenses" formControlName="havePrescriptionDrugExpenses">
                    Prescription drug expenses <app-tool-tip [trigger]="benefitsPrescription"></app-tool-tip>
                  </label>
                </app-field>

                <ng-template #benefitsCounsellingTransportation>
                  <h3>Transportation to obtain counselling</h3>
                  <p>For Immediate Family Members who have to travel some distance to obtain counselling or vocational services provided as CVAP benefits.</p>
                  <p>Also for Immediate Family Members of deceased victims who have to travel over 100 km to attend legal proceedings regarding the death.</p>
                  <p><strong>Examples:</strong></p>
                  <ul>
                    <li>Transportation expenses such as bus fare, air fare, mileage expenses</li>
                    <li>Meals and accommodation</li>
                    <li>Childcare while attending appointments</li>
                  </ul>
                </ng-template>
                <ng-template #benefitsPrescription>
                  <h3>Prescription Drug Expenses</h3>
                  <p>For Immediate Family Members who need prescription drugs to recover from the psychological injury caused by the crime</p>
                  <p><strong>Examples:</strong></p>
                  <ul>
                    <li>Medications prescribed by a doctor</li>
                  </ul>
                </ng-template>
                <ng-template #benefitsCounselling>
                  <h3>Counselling</h3>
                  <p>For Immediate Family Members who need counselling to recover from the psychological injury caused by the crime</p>
                  <p><strong>Examples:</strong></p>
                  <ul>
                    <li>Counselling Sessions</li>
                  </ul>
                </ng-template>
              </div>
            </section>

            <section *ngIf="form.get('crimeInformation.victimDeceasedFromCrime').value == true">
              <h2 class="blue-header">Additional Benefits</h2>
              <p>If the victim is deceased as a result of the crime, please indicate which additional expenses or benefits you wish to claim (at least one is required):</p>
              <div class="radio-list">
                <app-field>
                  <label>
                    <input type="checkbox" [value]="true" name="haveVocationalServicesExpenses" formControlName="haveVocationalServicesExpenses">
                    Vocational services or training <app-tool-tip [trigger]="expensesVocational"></app-tool-tip>
                  </label>
                </app-field>
                <app-field>
                  <label>
                    <input type="checkbox" [value]="true" name="haveIncomeSupportExpenses" formControlName="haveIncomeSupportExpenses">
                    Income support <app-tool-tip [trigger]="expensesIncomeSupport"></app-tool-tip>
                  </label>
                </app-field>
                <app-field>
                  <label>
                    <input type="checkbox" [value]="true" name="haveChildcareExpenses" formControlName="haveChildcareExpenses">
                    Childcare <app-tool-tip [trigger]="expensesChildCare"></app-tool-tip>
                  </label>
                </app-field>
                <app-field>
                  <label>
                    <input type="checkbox" [value]="true" name="haveLegalProceedingExpenses" formControlName="haveLegalProceedingExpenses">
                    Transportation to attend legal proceedings <app-tool-tip [trigger]="expensesLegalTransportation"></app-tool-tip>
                  </label>
                </app-field>
                <app-field>
                  <label>
                    <input type="checkbox" [value]="true" name="haveFuneralExpenses" formControlName="haveFuneralExpenses">
                    Funeral expenses <app-tool-tip [trigger]="expensesFuneral"></app-tool-tip>
                  </label>
                </app-field>
                <app-field>
                  <label>
                    <input type="checkbox" [value]="true" name="haveBereavementLeaveExpenses" formControlName="haveBereavementLeaveExpenses">
                    Bereavement leave <app-tool-tip [trigger]="expensesBereavementLeave"></app-tool-tip>
                  </label>
                </app-field>
                <app-field>
                  <label>
                    <input type="checkbox" [value]="true" name="haveLostOfParentalGuidanceExpenses" formControlName="haveLostOfParentalGuidanceExpenses">
                    Loss of parental guidance <app-tool-tip [trigger]="expensesParentalLoss"></app-tool-tip>
                  </label>
                </app-field>
                <app-field>
                  <label>
                    <input type="checkbox" [value]="true" name="haveHomeMakerExpenses" formControlName="haveHomeMakerExpenses">
                    Homemaker services <app-tool-tip [trigger]="expensesHomemakerServices"></app-tool-tip>
                  </label>
                </app-field>
                <app-field>
                  <label>
                    <input type="checkbox" [value]="true" name="haveCrimeSceneCleaningExpenses" formControlName="haveCrimeSceneCleaningExpenses">
                    Crime scene cleaning <app-tool-tip [trigger]="expensesFamilyCrimeSceneCleaning"></app-tool-tip>
                  </label>
                </app-field>
                <app-field>
                  <label>
                    <input type="checkbox" [value]="true" name="noneOfTheAboveExpenses" formControlName="noneOfTheAboveExpenses">
                    None of the above
                  </label>
                </app-field>

                <!-- [required]="true" [valid]="isFieldValid('additionalBenefitsDetails')" -->
                <app-field label="Please provide details of your requests. (Maximum 250 words)" errorMessage="Please provide details of your requests.">
                  <textarea class="form-control bigger" formControlName="additionalBenefitsDetails" maxlength="2000"></textarea>
                </app-field>
              </div>
              <ng-template #expensesVocational>
                <h3>Vocational services or expenses</h3>
                <p>Spouses of deceased victims who need training or education to prepare for employment or improve their earning capacity (and who are eligible for income support benefits from CVAP)</p>
                <p><strong>Examples:</strong></p>
                <ul>
                  <li>Education and training courses</li>
                  <li>Programs to improve skills and qualifications</li>
                  <li>Programs to prepare for, or find, employment</li>
                </ul>
              </ng-template>
              <ng-template #expensesIncomeSupport>
                <h3>Income support</h3>
                <p>Spouses of deceased victim</p>
                <p>Children of deceased victims</p>
                <p>Other immeditate family members of deceased victims if they were financially dependent on the victim</p>
                <p><strong>Examples:</strong></p>
                <ul>
                  <li>Monthly payments to assist in financially supporting the immediate family member</li>
                </ul>
              </ng-template>
              <ng-template #expensesChildCare>
                <h3>Childcare services or expenses (see also under transportation)</h3>
                <p>Spouses of deceased victims who need to pay for childcare because there is no one in the household to share this responsibility</p>
                <p><strong>Examples:</strong></p>
                <ul>
                  <li>Childcare</li>
                </ul>
              </ng-template>
              <ng-template #expensesLegalTransportation>
                <h3>Transportation and related expenses, and transportation related childcare</h3>
                <p>Immediate Family Members who have to travel some distance to obtain counselling or vocational services provided as CVAP benefits.</p>
                <p>Immediate Family Members of deceased victims who have to travel over 100 km to attend legal proceedings regarding the death</p>
                <p><strong>Examples:</strong></p>
                <ul>
                  <li>Transportation expenses such as bus fare, air fare, mileage expenses</li>
                  <li>Meals and accommodation</li>
                  <li>Childcare while attending appointments</li>
                </ul>
              </ng-template>
              <ng-template #expensesFuneral>
                <h3>Funeral Expenses</h3>
                <p>Immediate Family Members of deceased victims who have to pay for funeral and related costs</p>
                <p><strong>Examples:</strong></p>
                <ul>
                  <li>Costs involved in the funeral service, burial, cremation or related ceremony</li>
                </ul>
              </ng-template>
              <ng-template #expensesBereavementLeave>
                <h3>Bereavement leave</h3>
                <p>Immediate Family Members of deceased victims who lose earnings from taking time off work for the funeral or other matters related to the victim’s death</p>
                <p><strong>Examples:</strong></p>
                <ul>
                  <li>An amount to help offset the loss of earnings</li>
                </ul>
              </ng-template>
              <ng-template #expensesParentalLoss>
                <h3>Loss of parental guidance for a minor child</h3>
                <p>Children of deceased victims who were under 19 when their parent was killed</p>
                <p><strong>Examples:</strong></p>
                <ul>
                  <li>A set amount as a contribution toward loss of parental guidance</li>
                </ul>
              </ng-template>
              <ng-template #expensesHomemakerServices>
                <h3>Homemaker services or expenses</h3>
                <p>Spouses of deceased victims who need to pay for homemaker services because there is no one in the household to share household tasks</p>
                <p><strong>Examples:</strong></p>
                <ul>
                  <li>Help with shopping, cleaning, cooking, and other household tasks</li>
                </ul>
              </ng-template>
              <ng-template #expensesFamilyCrimeSceneCleaning>
                <h3>Crime scene cleaning</h3>
                <p>Immediate Family Members of deceased victims who need specialized cleaning of the victim’s home or vehicle, or their own home or vehicle, because the crime was committed there</p>
                <p><strong>Examples:</strong></p>
                <ul>
                  <li>Specialized cleaning and disinfecting of contaminated areas</li>
                  <li>Replacement of contaminated flooring, wall covering, or other built-in features</li>
                </ul>
              </ng-template>

              <p>The following section provides information regarding employment information. This information is necessary if you are requesting benefits for lost employment income.</p>
              <h2 class="blue-header">Income Loss Information</h2>

              <app-field label="Have you missed work as a result of the death of the victim?" [valid]="isFieldValid('expenseInformation.missedWorkDueToDeathOfVictim')" [required]="true" errorMessage="Please select an option">
                <label class="inline-label">
                  <input type="radio" [value]="true" name="missedWorkDueToDeathOfVictim" formControlName="missedWorkDueToDeathOfVictim">
                  <span>Yes</span>
                </label>
                <label class="inline-label">
                  <input type="radio" [value]="false" name="missedWorkDueToDeathOfVictim" formControlName="missedWorkDueToDeathOfVictim">
                  <span>No</span>
                </label>
              </app-field>

              <section *ngIf="form.get('expenseInformation.missedWorkDueToDeathOfVictim').value === true">
                <app-field label="Please provide days of work missed" [valid]="isFieldValid('expenseInformation.daysWorkMissedStart')" [required]="true" errorMessage="Please select an option">
                  <input type="text" class="form-control date-picker" formControlName="daysWorkMissedStart" placeholder="yyyy-mm-dd" [matDatepicker]="daysWorkMissedStartPicker" (focus)="daysWorkMissedStartPicker.open()" (click)="daysWorkMissedStartPicker.open()" readonly>
                  <mat-datepicker #daysWorkMissedStartPicker></mat-datepicker>
                  <span> - </span>
                  <input type="text" class="form-control date-picker" formControlName="daysWorkMissedEnd" placeholder="yyyy-mm-dd" [matDatepicker]="daysWorkMissedEndPicker" (focus)="daysWorkMissedEndPicker.open()" (click)="daysWorkMissedEndPicker.open()" readonly>
                  <mat-datepicker #daysWorkMissedEndPicker></mat-datepicker>
                </app-field>
                <app-field label="As a result of any crime-related injuries, did you lose wages?" [tooltipReference]="lostWagesTemplate" [valid]="isFieldValid('expenseInformation.didYouLoseWages')" [required]="true" errorMessage="Please select an option">
                  <label class="inline-label">
                    <input type="radio" [value]="true" name="didYouLoseWages" formControlName="didYouLoseWages">
                    <span>Yes</span>
                  </label>
                  <label class="inline-label">
                    <input type="radio" [value]="false" name="didYouLoseWages" formControlName="didYouLoseWages">
                    <span>No</span>
                  </label>
                </app-field>
                <ng-template #lostWagesTemplate>
                  <p><strong>Lost wages or income</strong></p>
                  <p>If you are claiming for lost wages or income, we will need to verify your employment</p>
                </ng-template>

                <h3 class="blue-header">Employer Information</h3>
                <div class="employers" formArrayName="employers" *ngFor="let item of form.get('expenseInformation.employers')['controls']; let i = index;">
                  <div [formGroupName]="i" class="employer">
                    <div class="row">
                      <div class="col">
                        <app-field label="Name of Company / Organization" [required]="true" [valid]="isFieldValid('item.employerName')" errorMessage="Please enter a company name">
                          <input type="text" class="form-control" formControlName="employerName">
                        </app-field>
                      </div>
                      <div class="col">
                        <app-field label="Phone Number of Contact Person" [required]="true" [valid]="isFieldValid('item.employerName')" errorMessage="Please enter a contact phone number">
                          <input type="text" mask='(000) 000 0000' class="form-control" formControlName="employerPhoneNumber">
                        </app-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <app-field label="Employer First Name">
                          <input type="text" class="form-control" formControlName="employerFirstName">
                        </app-field>
                      </div>
                      <div class="col">
                        <app-field label="Employer Last name">
                          <input type="text" class="form-control" formControlName="employerLastName">
                        </app-field>
                      </div>
                    </div>

                    <app-address [group]="item.get('employerAddress')" [showChildrenAsRequired]="false"></app-address>
                  </div>
                </div>

                <app-field label="If you are requesting benefits for lost wages, may we contact your employer?">
                  <label class="inline-label">
                    <input type="radio" [value]="true" name="mayContactEmployer" formControlName="mayContactEmployer">
                    <span>Yes</span>
                  </label>
                  <label class="inline-label">
                    <input type="radio" [value]="false" name="mayContactEmployer" formControlName="mayContactEmployer">
                    <span>No</span>
                  </label>
                </app-field>

                <h2 class="blue-header">Other Benefits</h2>
                <p>If you have recieved or will recieve other benefits as a result of the crime, check all that apply (at least one is required):</p>
                <div class="radio-list">
                  <app-field>
                    <label>
                      <input type="checkbox" [value]="true" name="haveDisabilityPlanBenefits" formControlName="haveDisabilityPlanBenefits">
                      Disability Plan benefits
                    </label>
                  </app-field>
                  <app-field>
                    <label>
                      <input type="checkbox" [value]="true" name="haveEmploymentInsuranceBenefits" formControlName="haveEmploymentInsuranceBenefits">
                      Employment Insurance benefits
                    </label>
                  </app-field>
                  <app-field>
                    <label>
                      <input type="checkbox" [value]="true" name="haveIncomeAssistance" formControlName="haveIncomeAssistanceBenefits">
                      Income Assistance
                    </label>
                  </app-field>
                  <app-field>
                    <label>
                      <input type="checkbox" [value]="true" name="haveCanadaPensionPlanBenefits" formControlName="haveCanadaPensionPlanBenefits">
                      Canada Pension Plan
                    </label>
                  </app-field>
                  <app-field>
                    <label>
                      <input type="checkbox" [value]="true" name="haveAboriginalAffairsAndNorthernDevelopmentCanadaBenefits" formControlName="haveAboriginalAffairsAndNorthernDevelopmentCanadaBenefits">
                      Aboriginal Affairs and Northern Development Canada
                    </label>
                  </app-field>
                  <app-field>
                    <label>
                      <input type="checkbox" [value]="true" name="haveCivilActionBenefits" formControlName="haveCivilActionBenefits">
                      Benefits you have recieved as a result of civil action
                    </label>
                  </app-field>
                  <app-field>
                    <label>
                      <input type="checkbox" [value]="true" name="haveOtherBenefits" formControlName="haveOtherBenefits">
                      Other
                    </label>
                    <section *ngIf="form.get('expenseInformation.haveOtherBenefits').value === true" class="pushed">
                      <app-field label="Please specify">
                        <input class="form-control standard" type="text" formControlName="otherSpecificBenefits">
                      </app-field>
                    </section>
                  </app-field>
                  <app-field>
                    <label>
                      <input type="checkbox" [value]="true" name="noneOfTheAboveBenefits" formControlName="noneOfTheAboveBenefits">
                      None of the above
                    </label>
                  </app-field>
                </div>
              </section>
            </section>
          </div>

          <div formGroupName="representativeInformation" *ngIf="this.currentFormStep == 6">
            <div class="page-header">
              <h1>Application on Behalf of Immediate Family Member</h1>
            </div>

            <p>This section provides information regarding applying on behalf of an applicant. This information is only necessary if you are a guardian or legal representative of the applicant.</p>
            <div class="attention" *ngIf="form.get('representativeInformation.completingOnBehalfOf').value > 0">
              <p>You previously selected the option below. Verify that this is correct before continuing with the application.</p>
            </div>

            <section class="radio-list">
              <app-field label="I am:" [required]="true" [valid]="isFieldValid('representativeInformation.completingOnBehalfOf')" errorMessage="Please indicate who is completing this form.">
                <label>
                  <input type="radio" [value]="100000000" name="completingOnBehalfOf" formControlName="completingOnBehalfOf">
                  Completing this application for myself
                </label>
                <br />

                <label>
                  <input type="radio" [value]="100000002" name="completingOnBehalfOf" formControlName="completingOnBehalfOf">
                  A parent completing this application for my minor child (19 and below)
                </label>
                <br />

                <label>
                  <input type="radio" [value]="100000003" name="completingOnBehalfOf" formControlName="completingOnBehalfOf">
                  A legal representative or legal guardian completing this application on behalf of someone else
                </label>
              </app-field>
            </section>

            <section *ngIf="form.get('representativeInformation.completingOnBehalfOf').value === 100000003">
              <app-field label="Relationship to Person" [required]="true" errorMessage="Please select a relationship">
                <select class="form-control standard" formControlName="relationshipToPerson">
                  <option value="">Select...</option>
                  <option *ngFor="let item of relationshipList">{{ item }}</option>
                </select>
              </app-field>
            </section>

            <hr />

            <section *ngIf="form.get('representativeInformation.completingOnBehalfOf').value === 100000000">
              <p>Continue to the next step in the application.</p>
            </section>

            <section *ngIf="form.get('representativeInformation.completingOnBehalfOf').value === 100000001 || form.get('representativeInformation.completingOnBehalfOf').value === 100000002 || form.get('representativeInformation.completingOnBehalfOf').value === 100000003">
              <p>Complete the following before continuing with the application.</p>
              <h2 class="blue-header">Person Completing the Application</h2>

              <p style="display: none; background-color: yellow; font-size: 16px;">See required fields based on preferred contact methods here</p>

              <h3>Name</h3>
              <div class="row">
                <div class="col-4">
                  <app-field label="First Name" [required]="true" [valid]="isFieldValid('representativeInformation.representativeFirstName')" errorMessage="Please enter a first name">
                    <input class="form-control" type="text" formControlName="representativeFirstName" placeholder="Full Name">
                  </app-field>
                </div>
                <div class="col-4">
                  <app-field label="Middle Name" [required]="false" errorMessage="Please enter a middle name">
                    <input class="form-control" type="text" formControlName="representativeMiddleName" placeholder="Full Name">
                  </app-field>
                </div>
                <div class="col-4">
                  <app-field label="Last Name" [required]="true" [valid]="isFieldValid('representativeInformation.representativeLastName')" errorMessage="Please enter a last name">
                    <input class="form-control" type="text" formControlName="representativeLastName" placeholder="Full Name">
                  </app-field>
                </div>
              </div>

              <h3>Contact Information</h3>

              <div class="row">
                <div class="col-4">
                  <app-field label="Phone Number (incl. area code)" [required]="true" [valid]="isFieldValid('representativeInformation.representativePhoneNumber')" errorMessage="Please enter a phone number">
                    <input class="form-control" mask='(000) 000 0000' type="text" formControlName="representativePhoneNumber">
                  </app-field>
                </div>
                <div class="col-4">
                  <app-field label="Alternate Phone Number" [required]="false" [valid]="isFieldValid('representativeInformation.representativeAlternatePhoneNumber')" errorMessage="Please enter a phone number">
                    <input class="form-control" mask='(000) 000 0000' type="text" formControlName="representativeAlternatePhoneNumber">
                  </app-field>
                </div>
                <div class="col-4">
                  <app-field label="Email Address" [required]="true" [valid]="isFieldValid('representativeInformation.representativeEmail')" errorMessage="Please enter an email address">
                    <input class="form-control" type="text" formControlName="representativeEmail" placeholder="myname@email.com">
                  </app-field>
                </div>
              </div>

              <h3>Mailing Address</h3>
              <app-address [group]="form.get('representativeInformation.representativeAddress')"></app-address>

              <div class="row">
                <div class="col-4">
                  <app-field label="Preferred Method of Contact" [required]="true" [valid]="isFieldValid('representativeInformation.representativePreferredMethodOfContact')" errorMessage="Please select your preferred method of contact">
                    <select class="form-control" formControlName="representativePreferredMethodOfContact">
                      <option value="0">Select...</option>
                      <option value="100000000">Phone Call</option>
                      <option value="100000001">Email</option>
                      <option value="100000002">Mail</option>
                    </select>
                  </app-field>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                </div>
              </div>

              <h2 class="blue-header">Proof of Guardianship/Trusteeship</h2>
              <p>Note: If you are not the natural or adoptive parent of the applicant, please attach a copy of any court order or other document that is proof of guardianship/trusteeship.</p>
              
              <app-file-uploader-box [initialValues]="form.value.representativeInformation.legalGuardian" (fileBundle)="onRepresentativeFileBundle($event)"></app-file-uploader-box>

              <app-field *ngIf="showLegalGuardianDocumentDescription" [required]="true" [valid]="isFieldValid('representativeInformation.documentDescription')" label="Please provide a description of the document. (Maximum 250 words)" errorMessage="Please provide document description">
                <textarea class="form-control bigger" formControlName="documentDescription" maxlength="2000"></textarea>
              </app-field>
            </section>
          </div>


          <div formGroupName="declarationInformation" *ngIf="this.currentFormStep == 7">
            <div class="page-header">
              <h1>Declaration</h1>
            </div>
            <p>Information supplied on this form is necessary to determine your eligibility for benefits, and is collected under the authority of Section 6 of the <em>Crime Victim Assistance Act</em>. Any information collected will be used only for the purposes of adjudicating your claim for benefits.</p>
            <p>By signing this section you declare that the information you have provided on this application is true and correct. It is an offence to provide false or misleading information on this application and may lead to prosecution. If it is discovered at a later time that false or misleading information has been provided on this application form, you may be required to repay to CVAP any benefits received.</p>

            <section>
              <h2 class="blue-header">Declaration & Signature</h2>
              <app-field [required]="true" [valid]="isFieldValid('declarationInformation.declaredAndSigned')" errorMessage="Please check declaration">
                <label>
                  <input type="checkbox" [value]="true" name="declaredAndSigned" formControlName="declaredAndSigned">
                  I submit this application in support of a claim for benefits available to Immediate Family Members under the <em>Crime Victim Assistance Act</em>, and declare the information provided in this application for benefits is true and correct. <span class="error-states">*</span>
                </label>
              </app-field>

              <app-field label="Applicant's Signature" [required]="true" [valid]="isFieldValid('declarationInformation.signature')" errorMessage="Please provide your digital signature">
                <div class="signature-trigger" (click)="showSignPad('declarationInformation', 'signature')" *ngIf="!hasSignature('declarationInformation.signature')">
                  <p>Click this box to sign</p>
                </div>
                <div *ngIf="hasSignature('declarationInformation.signature')" class="signature-preview">
                  <img src="{{ valueOrEmpty('declarationInformation.signature') }}" />
                  <a class="redo" (click)="showSignPad('declarationInformation', 'signature')">Redo Signature</a>
                </div>
              </app-field>
              <p><em>Electronic Signature Agreement: By inserting my name, I confirm that my electronic signature represents the legal equivalent to my handwritten signature, in compliance with the <a href="#">Electronic Transaction Act of BC, 10(1)</a>.</em></p>
            </section>
          </div>

          <app-authorization-information [formGroup]="form" [formType]="ApplicationType.IFM_Application" formGroupName="authorizationInformation" *ngIf="this.currentFormStep == 8"></app-authorization-information>

          <div *ngIf="this.currentFormStep == 9">
            <div class="page-header">
              <h1>Review & Submit</h1>
            </div>
            <p>Please check the accuracy of the information entered in your application before submitting.</p>
            <app-ifm-review [group]="form" [parentStepper]="stepper"></app-ifm-review>
          </div>

          <div *ngIf="showValidationMessage" class="error-summary">
            <i class="fas fa-exclamation-triangle" style="margin-right: 10px;"></i>
            <span>There are errors with some fields on this page. Please scroll up to review and fix the errors (marked in red) before continuing.</span>
          </div>

          <section class="button-container">
            <div [ngBusy]="[busy3]"></div>
            <a (click)="verifyCancellation()" class="cancel-link"><i class="fas fa-trash-alt" style="margin-right: 10px;"></i>Cancel Application</a>
            <span style="float: right;">
              <button (click)="gotoNextStep(stepper);" class="btn btn-primary" *ngIf="stepper.selectedIndex < 9">CONTINUE <i class="fas fa-chevron-right"></i></button>
              <button (click)="markAsTouched(); submitApplication();" class="btn btn-primary" *ngIf="!submitting && stepper.selectedIndex == 9">SUBMIT APPLICATION <i class="fas fa-chevron-right"></i></button>
              <button class="btn btn-primary disabled" *ngIf="submitting && stepper.selectedIndex == 9">SUBMITTING APPLICATION <i class="fas fa-chevron-right"></i></button>
            </span>
          </section>
        </div>
      </form>
    </div>
  </div>
</div>