<div [formGroup]="form">
    <div class="page-header">
        <h1>Review & Submit</h1>
    </div>
    <p>Please check the accuracy of the information entered in your application before submitting.</p>

    <ng-container>
        <h2 class="blue-header">
            {{applicant_type}} Information <span class="hide-for-print"><button (click)="gotoPageAndEdit(PAGES.RESTITUTION_INFORMATION, 'ApplicantInformation');" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button></span>
        </h2>
        <table class="table table-striped review-table">
            <tbody>
                <tr>
                    <th>First Name</th>
                    <td>{{ valueOrEmpty('restitutionInformation.firstName') }} </td>
                </tr>
                <tr>
                    <th>Middle Name</th>
                    <td>{{ valueOrEmpty('restitutionInformation.middleName') }} </td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{ valueOrEmpty('restitutionInformation.lastName') }} </td>
                </tr>
                <tr>
                    <th>Other First Name</th>
                    <td>{{ valueOrEmpty('restitutionInformation.otherFirstName') }} </td>
                </tr>
                <tr>
                    <th>Other Last Name</th>
                    <td>{{ valueOrEmpty('restitutionInformation.otherLastName') }} </td>
                </tr>
                <tr>
                    <th>Birth Date</th>
                    <td>{{ valueOrEmpty('restitutionInformation.birthDate', '') | date }}</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>{{ enumHelper.Gender[valueForEnum('restitutionInformation.gender')] }} </td>
                </tr>
                <tr>
                    <th>Do you identify as an Indigenous person?</th>
                    <td>{{ getOptionSetNameFromVal(enumHelper.IndigenousStatus, valueOrEmpty('restitutionInformation.indigenousStatus')) }}</td>
                </tr>
            </tbody>
        </table>

        <ng-container *ngIf="formType.val === ResitutionForm.Victim.val">
            <ng-container *ngIf="form.get('restitutionInformation.authoriseVictimDesignate').value === CRMBoolean.True">
                <div *ngFor="let item of form.get('restitutionInformation.designate')['controls']; let i = index">
                    <h3>Authorized Victim Designate</h3>
                    <table class="table table-striped review-table">
                        <tbody>
                            <tr>
                                <th>First Name</th>
                                <td>{{ valueOrEmpty(item.get('firstName')) }}</td>
                            </tr>
                            <tr>
                                <th>Middle Name</th>
                                <td>{{ valueOrEmpty(item.get('middleName')) }}</td>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                                <td>{{ valueOrEmpty(item.get('lastName')) }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div *ngIf="item.get('actOnBehalf').value === true">
                        <p>
                            <label class="inline-label inline-checkbox-label">
                                <input type="checkbox" [checked]="item.get('actOnBehalf').value === true" disabled="disabled" />
                                <span>I hereby authorize to act on my behalf for the purposes of involvement with the Restitution Program which includes personal information pertaining to me.</span>
                            </label>
                        </p>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>

    <ng-container>
        <h2 class="blue-header">
            Contact Information <span class="hide-for-print"><button (click)="gotoPageAndEdit(PAGES.RESTITUTION_INFORMATION, 'ContactInformation');" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button></span>
        </h2>
        <table class="table table-striped review-table">
            <tbody>
                <tr>
                    <th>Preferred Method of Contact</th>
                    <td>{{ enumHelper.ApplicantPreferredMethodOfContact[valueForEnum('restitutionInformation.contactInformation.preferredMethodOfContact')] }}
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Mailing Address</h3>
        <table class="table table-striped review-table">
            <tbody>
                <tr>
                    <th>Mailing Address</th>
                    <td><span *ngIf="addressHelper.hasAddressInfo(form.get('restitutionInformation.contactInformation.mailingAddress').value)" [innerHTML]="displayMailingSubAddress('restitutionInformation.contactInformation.mailingAddress')"></span></td>
                </tr>
            </tbody>
        </table>

        <h3>Communication</h3>
        <table class="table table-striped review-table">
            <tbody>
                <tr>
                    <th>Primary Phone Number</th>
                    <td>{{ valueOrEmpty('restitutionInformation.contactInformation.phoneNumber') | phone }} </td>
                </tr>
                <tr>
                    <th>Alternate Phone Number</th>
                    <td>{{ valueOrEmpty('restitutionInformation.contactInformation.alternatePhoneNumber') | phone }} </td>
                </tr>
                <tr>
                    <th>Email Address</th>
                    <td>{{ valueOrEmpty('restitutionInformation.contactInformation.email') }} </td>
                </tr>
                <tr>
                    <th>May we leave you a detailed message?</th>
                    <td>{{ enumHelper.boolEnum[valueForEnum('restitutionInformation.contactInformation.leaveMessage')] }} </td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <ng-container *ngIf="formType.val === ResitutionForm.Offender.val">
        <h2 class="blue-header">
            Correctional <span class="hide-for-print"><button (click)="gotoPageAndEdit(PAGES.RESTITUTION_INFORMATION, 'ProbationOfficerInformation');" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button></span>
        </h2>
        <table class="table table-striped review-table">
            <tbody>
                <tr>
                    <th>Parole/Probation Officer First Name</th>
                    <td>{{ valueOrEmpty('restitutionInformation.probationOfficerFirstName') }} </td>
                </tr>
                <tr>
                    <th>Parole/Probation Officer Last Name</th>
                    <td>{{ valueOrEmpty('restitutionInformation.probationOfficerLastName') }} </td>
                </tr>
                <tr>
                    <th>Custody Location (if applicable)</th>
                    <td>{{ valueOrEmpty('restitutionInformation.probationOfficerCustodyLocation') }} </td>
                </tr>
                <tr>
                    <th>Phone Number</th>
                    <td>{{ valueOrEmpty('restitutionInformation.probationOfficerPhoneNumber') | phone }} </td>
                </tr>
                <tr>
                    <th>Email Address</th>
                    <td>{{ valueOrEmpty('restitutionInformation.probationOfficerEmail') }} </td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <ng-container>
        <h2 class="blue-header">
            Restitution Order Information <span class="hide-for-print"><button (click)="gotoPageAndEdit(PAGES.RESTITUTION_INFORMATION, 'CourtFileInformation');" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button></span>
        </h2>
        <table class="table table-striped review-table" *ngFor="let item of form.get('restitutionInformation.courtFiles')['controls']; let i = index">
            <tbody>
                <tr>
                    <th>First Name</th>
                    <td>{{ valueOrEmpty(item.get('firstName')) }}</td>
                </tr>
                <tr>
                    <th>Middle Name</th>
                    <td>{{ valueOrEmpty(item.get('middleName')) }}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{ valueOrEmpty(item.get('lastName')) }}</td>
                </tr>
                <tr>
                    <th>Relationship</th>
                    <td>{{ valueOrEmpty(item.get('relationship')) }}</td>
                </tr>
                <tr>
                    <th>Court File Number</th>
                    <td>{{ valueOrEmpty(item.get('fileNumber')) }}</td>
                </tr>
                <tr>
                    <th>Court Location</th>
                    <td>{{ valueOrEmpty(item.get('location')) }}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <ng-container *ngIf="formType.val === ResitutionForm.Victim.val">
        <h2 class="blue-header">
            Victim Service Worker <span class="hide-for-print"><button (click)="gotoPageAndEdit(PAGES.RESTITUTION_INFORMATION, 'VSWInformation');" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button></span>
        </h2>
        <table class="table table-striped review-table" *ngFor="let item of form.get('restitutionInformation.vsw')['controls']; let i = index">
            <tbody>
                <tr>
                    <th>Victim Service Worker First Name</th>
                    <td>{{ valueOrEmpty(item.get('firstName')) }}</td>
                </tr>
                <tr>
                    <th>Victim Service Worker Last Name</th>
                    <td>{{ valueOrEmpty(item.get('lastName')) }}</td>
                </tr>
                <tr>
                    <th>Program Name</th>
                    <td>{{ valueOrEmpty(item.get('program')) }}</td>
                </tr>
                <tr>
                    <th>Email Address</th>
                    <td>{{ valueOrEmpty(item.get('email')) }}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <ng-container *ngIf="form.get('restitutionInformation.documents')['controls'].length > 0">
        <h2 class="blue-header">
            Copy of Restitution Order <span class="hide-for-print"><button (click)="gotoPageAndEdit(PAGES.RESTITUTION_INFORMATION, 'DocumentInformation');" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button></span>
        </h2>
        <table class="table table-striped review-table" *ngFor="let document of form.get('restitutionInformation.documents')['controls']; let i = index">
            <tbody>
                <tr>
                    <th>Additional Information</th>
                    <td>{{ valueOrEmpty(document.get('filename')) }}</td>
                </tr>
                <tr *ngIf="document.get('subject').value">
                    <th>File Description</th>
                    <td>{{ valueOrEmpty(document.get('subject')) }}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>

    <ng-container>
        <h2 class="blue-header">
            Declaration <span class="hide-for-print"><button (click)="gotoPageAndEdit(PAGES.RESTITUTION_INFORMATION, 'SignatureInformation');" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button></span>
        </h2>
        <div *ngIf="form.get('restitutionInformation.declaredAndSigned').value === true">
            <p>
                <label class="inline-label inline-checkbox-label">
                    <input type="checkbox" [checked]="form.get('restitutionInformation.declaredAndSigned').value === true" disabled="disabled" />
                    <span>I submit this application in support of a claim for benefits available to Victims under the
                        Crime Victim Assistance Act, and declare the information provided in this application for
                        benefits is true and correct.</span>
                </label>
            </p>
        </div>

        <table class="table table-striped review-table">
            <tbody>
                <tr>
                    <th>Applicant's Signature</th>
                    <td>
                        <img class="review-signature" *ngIf="valueOrEmpty('restitutionInformation.signature', '') != ''" src="{{ valueOrEmpty('restitutionInformation.signature', '') }}" />
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>