  <div class="form-wrapper" style="position: relative;">
    <div [ngBusy]="[busy]"></div>
    <div class="row" [formGroup]="form">
      <div class="col-lg-12">
        <section style="padding-top: 15px; padding-bottom: 20px;">
          <h3>API Test Framework</h3>
        </section>
        <p></p>
        <section>

          <button class="form-control" (click)="fireApiTest()">Fire API CAll</button>
          <label>Hit the button Max! {{ apiResult }}</label>
        </section>
      </div>

    </div>
  </div>
