<section>
  <h2 class="blue-header">
    Victim Information <button (click)="gotoPageIndex(1);" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button>
  </h2>
  <table class="table table-striped review-table">
    <tbody>
      <tr>
        <th>First Name</th>
        <td>{{ valueOrEmpty('restitutionInformation.victimFirstName') }} </td>
      </tr>
      <tr>
        <th>Middle Name</th>
        <td>{{ valueOrEmpty('restitutionInformation.victimMiddleName') }} </td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td>{{ valueOrEmpty('restitutionInformation.victimLastName') }} </td>
      </tr>
      <tr>
        <th>Birth Date</th>
        <td>{{ datesOrEmpty(['restitutionInformation.victimBirthDate']) }}</td>
      </tr>
      <tr>
        <th>Gender</th>
        <td>{{ enumHelper.Gender[valueForEnum('restitutionInformation.victimGender')] }} </td>
      </tr>
    </tbody>
  </table>

  <section *ngIf="form.get('restitutionInformation.authoriseVictimDesignate').value === true">
    <h3>Authorized Victim Designate</h3>
    <table class="table table-striped review-table">
      <tbody>
        <tr>
          <th>First Name</th>
          <td>{{ valueOrEmpty('restitutionInformation.authorisedDesignateFirstName') }} </td>
        </tr>
        <tr>
          <th>Middle Name</th>
          <td>{{ valueOrEmpty('restitutionInformation.authorisedDesignateMiddleName') }} </td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td>{{ valueOrEmpty('restitutionInformation.authorisedDesignateLastName') }} </td>
        </tr>
      </tbody>
    </table>
    <p>
      <label class="inline-label">
        <input *ngIf="form.get('restitutionInformation.authoriseDesignateToActOnBehalf').value === true" type="checkbox" checked="checked" disabled="disabled" />
        <input *ngIf="form.get('restitutionInformation.authoriseDesignateToActOnBehalf').value !== true" type="checkbox" disabled="disabled" />
        <span>I hereby authorize to act on my behalf for the purposes of involvement with the Restitution Program which includes personal information pertaining to me.</span>
      </label>
    </p>
  </section>

  <h2 class="blue-header">
    Contact Information <button (click)="gotoPageIndex(1);" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button>
  </h2>
  <table class="table table-striped review-table">
    <tbody>
      <tr>
        <th>Preferred Method of Contact</th>
        <td>{{ enumHelper.PreferredMethodOfContact[valueForEnum('restitutionInformation.preferredMethodOfContact')]  }}</td>
      </tr>
    </tbody>
  </table>

  <h3>Mailing Address</h3>
  <table class="table table-striped review-table">
    <tbody>
      <tr>
        <th>Country</th>
        <td>{{ valueOrEmpty('restitutionInformation.mailingAddress.country') }} </td>
      </tr>
      <tr>
        <th>Mailing Address</th>
        <td>{{ valueOrEmpty('restitutionInformation.mailingAddress.line1') }} </td>
      </tr>
      <tr *ngIf="valueOrEmpty('restitutionInformation.mailingAddress.line2') != '--'">
        <th></th>
        <td>{{ valueOrEmpty('restitutionInformation.mailingAddress.line2') }} </td>
      </tr>
      <tr>
        <th>City</th>
        <td>{{ valueOrEmpty('restitutionInformation.mailingAddress.city') }} </td>
      </tr>
      <tr>
        <th>Province</th>
        <td>{{ valueOrEmpty('restitutionInformation.mailingAddress.province') }} </td>
      </tr>
      <tr>
        <th>Postal Code</th>
        <td>{{ valueOrEmpty('restitutionInformation.mailingAddress.postalCode') }}</td>
      </tr>
    </tbody>
  </table>

  <h3>Communication</h3>
  <table class="table table-striped review-table">
    <tbody>
      <tr>
        <th>Primary Phone Number</th>
        <td>{{ valueOrEmpty('restitutionInformation.phoneNumber') | phone}} </td>
      </tr>
      <tr>
        <th>Alternate Phone Number</th>
        <td>{{ valueOrEmpty('restitutionInformation.alternatePhoneNumber') | phone}} </td>
      </tr>
      <tr>
        <th>Email Address</th>
        <td>{{ valueOrEmpty('restitutionInformation.email') }} </td>
      </tr>
      <tr>
        <th>May we leave you a detailed message?</th>
        <td>{{ valueOrEmpty('restitutionInformation.permissionToLeaveDetailedMessage') }} </td>
      </tr>
    </tbody>
  </table>


  <h2 class="blue-header">
    Restitution Order Information <button (click)="gotoPageIndex(1);" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button>
  </h2>
  <table class="table table-striped review-table">
    <tbody>
      <tr>
        <th>Offender First Name</th>
        <td>{{ valueOrEmpty('restitutionInformation.offenderFirstName') }} </td>
      </tr>
      <tr>
        <th>Offender Middle Name</th>
        <td>{{ valueOrEmpty('restitutionInformation.offenderMiddleName') }} </td>
      </tr>
      <tr>
        <th>Offender Last Name</th>
        <td>{{ valueOrEmpty('restitutionInformation.offenderLastName') }} </td>
      </tr>
      <tr>
        <th>Relationship to Offender</th>
        <td>{{ valueOrEmpty('restitutionInformation.offenderRelationship') }} </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped review-table" *ngFor="let item of courtFiles.controls; let i = index">
    <tbody>
      <tr>
        <th>Court File Number</th>
        <td>{{ valueOrEmpty(item.get('courtFileNumber')) }} </td>
      </tr>
      <tr>
        <th>Court Location</th>
        <td>{{ valueOrEmpty(item.get('courtLocation')) }} </td>
      </tr>
    </tbody>
  </table>
  <h2 class="blue-header">
    Victim Service Worker <button (click)="gotoPageIndex(1);" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button>
  </h2>
  <table class="table table-striped review-table">
    <tbody>
      <tr>
        <th>Victim Service Worker First Name</th>
        <td>{{ valueOrEmpty('restitutionInformation.victimServiceWorkerFirstName') }} </td>
      </tr>
      <tr>
        <th>Victim Service Worker Last Name</th>
        <td>{{ valueOrEmpty('restitutionInformation.victimServiceWorkerLastName') }} </td>
      </tr>
      <tr>
        <th>Program Name</th>
        <td>{{ valueOrEmpty('restitutionInformation.victimServiceWorkerProgramName') }} </td>
      </tr>
      <tr>
        <th>Email Address</th>
        <td>{{ valueOrEmpty('restitutionInformation.victimServiceWorkerEmail') }} </td>
      </tr>
    </tbody>
  </table>

  <h2 class="blue-header">
    Copy of Restitution Order <button (click)="gotoPageIndex(1);" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button>
  </h2>
  <pre>{{ valueOrEmpty('documentInformation.filename') }}</pre>
  <table class="table table-striped review-table">
    <tbody>
      <tr *ngFor="let fileName of form.value.restitutionInformation.restitutionOrders.fileName">
        <th>{{fileName}}</th>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h2 class="blue-header">Declaration <button (click)="gotoPageIndex(1);" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button></h2>
  <p>
    <label class="inline-label">
      <input *ngIf="form.get('restitutionInformation.declaredAndSigned').value === true" type="checkbox" checked="checked" disabled="disabled" />
      <input *ngIf="form.get('restitutionInformation.declaredAndSigned').value !== true" type="checkbox" disabled="disabled" />
      <span>By signing this form, I am applying to the Restitution Program for assistance in the facilitation of my restitution order and I confirm that I am the individual named on this form (or the parent/guardian/legal representative of the victim named on this form). Where applicable, I give permission to the Restitution Program to release information to the Victim Designate I have named above.</span>
    </label>
  </p>

  <table class="table table-striped review-table">
    <tbody>
      <tr>
        <th>Applicant's Signature</th>
        <td>
          <img class="review-signature" *ngIf="valueOrEmpty('restitutionInformation.signature', '') != ''" src="{{ valueOrEmpty('restitutionInformation.signature', '') }}" />
        </td>
      </tr>
    </tbody>
  </table>
</section>
