p {
    font-size: 16px;
    margin-bottom: 1.2em;
}

.was-in-bc-warning {
  color: #cf5547;
  font-style: italic;
  font-size: 14px;
}

.out-of-line {
  margin-left: -15px;
  padding: 20px;
  padding-left: 15px;
}

.danger-cell {
  background-color: #f2f2f2;
}

.lead-cell {
  width: 25%;
  vertical-align: top;
  padding-left: 15px;
}

.error-cell {
  width: 75%;
}
i {
  font-style: italic;
}
